<section class="contacts">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h2 class="contacts__title">
					Lorem ipsum dolor sit amet, consectetur adipisicing.
				</h2>
				<button class="section-btn">get in touch</button>	
			</div>
			<div class="col-6">
				<div class="contacts__card">
					<h3 class="contacts__card-title">stay inform our newsletter</h3>
					<p class="contacts__card-description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, magnam necessitatibus, laboriosam aperiam enim 
					</p>
					<form action="#" class="contacts__form">
						<input type="email" placeholder="your email" required>
						<input type="submit" value="send">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>