<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<nav class="footer-nav">
					<ul class="footer-nav__list">
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
						<li class="footer-nav__item">
							<a href="#"class="footer-nav__link">Item</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-6 d-flex">
				<p class="footer-copyrights">
					
				</p>
				<ul class="social-menu">
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a></li>
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank"></a></li>
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank"></a></li>
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank"></a></li>
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank"></a></li>
					<li class="social-menu__item"><a href="" class="social-menu__link" target="_blank"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- <i class="fab fa-twitter"></i>
<i class="fab fa-youtube"></i>
<i class="fab fa-pinterest"></i>
<i class="fab fa-instagram"></i>

<i class="fab fa-invision"></i>
<i class="fas fa-check"></i> -->