<section class="section-icons">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section-icons__item">
					<div class="img-wrapper">
						<img class="section-icons__img" src="img/diagram.png" alt="icon">
					</div>
					<h3 class="section-icons__item-title">
						keep pulse going
					</h3>
					<p class="section-icons__item-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
					</p>

				</div>
			</div>
			<div class="col">
				<div class="section-icons__item">
					<div class="img-wrapper">
						<img class="section-icons__img" src="img/infinity.png" alt="icon">
					</div>
					<h3 class="section-icons__item-title">pass the limits
					</h3>
					<p class="section-icons__item-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
					</p>

				</div>
			</div>
			<div class="col">
				<div class="section-icons__item">
					<div class="img-wrapper">
						<img class="section-icons__img" src="img/lamp.png" alt="icon">
					</div>
					<h3 class="section-icons__item-title">
						creat ideas
					</h3>
					<p class="section-icons__item-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
					</p>

				</div>
			</div>
			<div class="col">
				<div class="section-icons__item">
					<div class="img-wrapper">
						<img class="section-icons__img" src="img/volume.png" alt="icon">
					</div>
					<h3 class="section-icons__item-title">
						awesome support
					</h3>
					<p class="section-icons__item-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .
					</p>

				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>