* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.log-in-section {
	background-color: $col-gray;
}

.container {
	font-family: 'Open Sans', sans-serif;
	color: $col-dark;
	background-color: $col-gray;
	width: 100%;
	max-width: 1450px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 100px 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo {
	display: block;
	position: absolute;
	top: 10px;
	left: 20px;
}

.log-in-img {
	align-self: flex-start;
	background: url("../img/signup-bg.jpg") no-repeat;
	height: 710px;
	width: 100%;

	@media all and (max-width: 950px) {
		background: none;
	}
}

.log-in {
	position: absolute;
	letter-spacing: .8px;
	background-color: white;
	width: 100%;
	max-width: 480px;
	padding: 35px 30px 40px 40px;
	box-shadow: 5px 0 40px rgba(230,234,236,1);

	&__title {
		font-size: 40px;
		font-weight: 300;
		text-transform: capitalize;
		line-height: 1;
		padding-left: 60px;
		position: relative;
		margin-bottom: 25px;

		&::before {
			content: " ";
			position: absolute;
			display: block;
			width: 40px;
			height: 2px;
			border-top: 2px solid $col-gray;
			top: 55%;
			left: 0;
		}
	}

	&__label {
		font-size: 14px;
		font-weight: 700;
		text-transform: capitalize;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 65px;
		margin-bottom: 5px;
	}

	&__input {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		width: 100%;
		max-width: 400px;
		padding: 15px 20px;
		background-color: $col-gray;
		border: none;
	}

	.link-wrapper {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		max-width: 395px;
		margin-bottom: 35px;
	}

	&__recovering {
		font-size: 13px;
		color: $col-green;
		text-decoration: none;
		text-transform: capitalize;
		text-align: right;
		line-height: 2.5;

		&:hover {
			color: lighten($col-green, 10%);
		}
	}

	&__btn {
		display: inline-block;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 700;
		color: black;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		max-width: 190px;
		padding: 15px 0;
		background-color: transparent;
		border: 1px solid $col-gray;
		cursor: pointer;
		transition: all .3s ease;

		&:hover {
			color: white;
			background-color: lighten($col-green, 10%);
		}
	}

	.btn-green {
		color: white;
		background-color: $col-green;
		margin-right: 25px;

		&:hover {
			color: white;
			background-color: lighten($col-green, 10%);
		}
	}
}