* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.svg-header {
	&:hover {
		fill: $col-green;
		transition: all .3s ease;
	}
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 70px;
	margin-right: 40px;
}

.payment {
	font-family: 'Open Sans', sans-serif;
	color: $col-dark;
	letter-spacing: .4px;
	background-color: $col-gray;
	min-height: 100vh;
	position: relative;
}

.header {
	background-color: #fff;
	padding-right: 30px;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 30px rgba(210,216,222,.5);

	&__container {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1450px;
	}

	.name {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0;
		margin-right: auto;
	}

	&__links-wrapper {
		display: flex;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		font-weight: 700;
		color: $col-dark;
		text-decoration: none;
		text-transform: capitalize;
		width: 45px;
		height: 45px;

		&:hover > svg * {
			fill: $col-green;
			transition: all .3s ease;
		}
	}

	.log-out {
		width: 70px;
	}
}

.section-body {
	display: flex;
	padding-left: 90px;

	@media all and (max-width: 1080px) {
		align-items: center;
		justify-content: center;
		padding: 0;
	}
}

.nav-bar {
	width: 100%;
	max-width: 90px;
	padding-top: 180px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	@media all and (max-width: 1080px) {
		z-index: 1;
		top: 0;
		right: 220px;
		bottom: auto;
		left: auto;
		width: 100%;
		max-width: 280px;
		padding-top: 0px;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 300px;

		@media all and (max-width: 1080px) {
			display: flex;
			flex-direction: row;
			width: 100%;
			min-height: 70px;
		}
	}

	&__item {
		width: 100%;
		max-width: 90px;
		height: 90px;

		@media all and (max-width: 1080px) {
			max-width: 70px;
			height: 70px;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		&:hover > svg *,
		&:hover {
			background-color: $col-lt-green;
			fill: $col-green;
			transition: all .3s ease;
		}
	}

	.nav-item-active > svg *,
	.nav-item-active {
		background-color: $col-lt-green;
		fill: $col-green;
		transition: all .3s ease;
	}
}

.payment-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 720px;
	padding: 35px 40px 60px;

	&__title {
		font-size: 30px;
		font-weight: 300;
		line-height: 1.1;
		text-transform: capitalize;
		margin-bottom: 40px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 640px;
		background-color: #fff;
		box-shadow: 0 0 40px rgba(210,216,222,.8);
		padding: 50px 40px 60px;
		position: relative;

		&::after {
			content: " ";
			display: block;
			position: absolute;
			top: 23%;
			left: 68%;
			width: 100%;
			max-width: 522px;
			height: 100%;
			max-height: 264px;
			background: url("../img/cards.png") no-repeat;
			background-size: contain;

			@media all and (max-width: 899px) {
				max-width: 261px;
				max-height: 132px;
				top: 35%;
				left: 55%;
			}

			@media all and (min-width: 900px) and (max-width: 1079px) {
				max-width: 391px;
				max-height: 198px;
				top: 29%;
				left: 57%;
			}

			@media all and (min-width: 1080px) and (max-width: 1200px) {
				max-width: 444px;
				max-height: 226px;
				top: 29%;
				left: 60%;
			}
		}

		@media all and (max-width: 1080px) {
			justify-content: center;
		}

		.label-title {
			font-size: 14px;
			font-weight: 600;
			line-height: 2.3;
			position: relative;

			.currency {
				position: absolute;
				top: 125%;
				left: 43%;
				color: $col-txt-gray;
			}
		}

		.input-field-pay {
			border: none;
			font-family: 'Open Sans', sans-serif;
			color: $col-dark;
			font-size: 14px;
			line-height: 1.5;
			letter-spacing: .7px;
			background-color: $col-gray;
			width: 100%;
			max-width: 270px;
			padding: 15px 20px;
		}

		::-webkit-input-placeholder {color: $col-dark;}
		::-moz-placeholder          {color: $col-dark;}
		:-moz-placeholder           {color: $col-dark;}
		:-ms-input-placeholder      {color: $col-dark;}

		.form-pay-btn {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
			letter-spacing: .8px;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			max-width: 270px;
			padding: 15px 0;
			border: none;
			background-color: $col-red;
			cursor: pointer;
			transition: all .3s ease;

			&:hover {
				background-color: lighten($col-red, 10%);
			}
		}
	}
}