@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

$col-gray: #edf0f2;
$col-txt-gray: #8e9399;
$col-green: #0f9681;
$col-lt-green: #e6f2f0;
$col-dark: #12171f;
$col-red: #e53d2e;