<section class="plans section">
	<div class="container">
		<div class="row justify-content-center section-heading-row">
			<div class="col d-flex align-items-center flex-column">
				<h2 class="section-title">
					<span class="section-title__marker">pricing</span> plans
				</h2>
				<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium dicta esse facere doloremque rerum maiores eum fugiat, debitis magni tenetur!</p>
			</div>
		</div>
		<div class="row justify-content-center justify-content-xl-between">
			<div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-0">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item1</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item2</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item3</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item4</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item5</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item6</span>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-0">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item1</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item2</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item3</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item4</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item5</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item6</span>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
			<div class="col-12 col-md-6 col-xl-4">
				<div class="plans__card">
					<h3 class="plans__card-title">
						Basic
					</h3>
					<div class="plans__card-price">
						$35.99 monthly
					</div>
					<ul class="marked-list">
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item1</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item2</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item3</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item4</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item5</span>
						</li>
						<li class="marked-list__item">
							<span class="marked-list__link"><i class="fas fa-check-square"></i>item6</span>
						</li>
					</ul>
					<a href="#" class="plans__card-btn">get started</a>
				</div>
			</div>
		</div>
	</div>
</section>