.about-us {	
	background-color: $orange;

	&__img {
		height: 100%;
		width: 100%;		
		background-image: url("../img/table.jpg");
		background-repeat: no-repeat;
		background-size: cover;

		// position: relative;
		// width: 100%;
		// padding-top: 73%;

		// & > * {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// }
	}

	.description {
		padding: 160px 0 170px 80px;			
		max-width: 570px;
		color: $white;


		.white {
			color: $white;
		}

		&__text {
			font-size: 13px;
			line-height: 1.9;			
			// margin-bottom: 30px;
		}
		
		.read__btn {	
			@include section-button;
			max-width: 145px;		
			box-shadow: 1px 1px 2px $dk-grey;			
		}			
	}
}