.clients {
	background-color: $orange;
}

.cls-1 {
    font-size: 30px;
    fill: #7b7b7b;
    font-family: BrandonGrotesque;
    font-weight: 700;
}

.client-card {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 245px;
	background-color: $white;
	border-radius: 4px;

	.client-review {
		display: flex;
		max-width: 85%;

		@media all and (max-width: 565px) {
			flex-direction: column;
			padding: 10px 0 10px 10px;
		}
	}
}

.quote {
	font-size: 13px;
	line-height: 1.8;

	@media all and (max-width: 991px) {
		font-size: 14px;
	}

	.card-text {
		position: relative;
		color: #7b7b7b;
	}

	.quotes-top {
		position: absolute;
		left: -7%;
	}
}

.client {
	font-family: $sec-font;
	color: $orange;
	text-transform: uppercase;

	@media all and (min-width: 992px) and (max-width: 1199px) {
		font-size: 12px;
	}


	&__specialty {
		color: #99a9ae;

		@media all and (max-width: 450px) {
			display: block;
		}
	}
}