.footer-link {
  text-transform: uppercase;
    color: $dk-grey;

     &:hover {
      color: $orange;
      background-color: transparent;
     }
 }

.footer-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 180px;
    color: $dk-grey;

    .phone-number {
      font-size: 22.5px;
    }
}

.social__list {
    list-style: none;
    width: 100%;
    max-width: 110px;
    display: flex;
    justify-content: space-between;
}

.social__link {
    @include transition;

    &:hover {
      color: $orange;
    }
}

.copyright {
  background-color: $blue;

    &__text {
      font-size: 13px;
      color: $white;
    }

    .all-rights {
      @media all and (max-width: 767px) {
        display: block;
      }
    }
}