.mb-90 {
	margin-bottom: 30px;

	@media all and (min-width: 768px) {
		margin-bottom: 60px;
	}

	@media all and (min-width: 992px) {
		margin-bottom: 90px;
	}
}

.step {

	&__img {
		// position: relative;
		width: 82px;
		height: 67px;
		display: flex;
		justify-content: center;
	}

	.icon {
		height: 70px;

		& > *{
			display: block;
			margin: auto;
		}
	}

	&:nth-child(odd) {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/arctop.png");
			background-repeat: no-repeat;
			top: -13%;
			right: -30%;
			width: 145px;
			height: 40px;

			@media all and (max-width: 575px) {
				top: 65%;
				right: -16%;
				transform: rotate(90deg);
			}

			@media all and (min-width: 576px) and (max-width: 767px) {
				top: -7%;
				right: -31%;
			}

			@media all and (min-width: 768px) and (max-width: 991px) {
				top: -9%;
				right: -24%;
			}
		}
	}

	&:nth-child(2) {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-image: url("../img/arctop.png");
			background-repeat: no-repeat;
			transform: rotate(180deg);
			top: 23%;
			right: -22%;
			width: 145px;
			height: 40px;

			@media all and (max-width: 575px) {
				// display: none;
				top: 65%;
				left: -16%;
				transform: rotate(-90deg);
			}

			@media all and (min-width: 576px) and (max-width: 991px) {
				display: none;
			}
		}
	}

	&__heading {
		font-family: $sec-font;
		font-size: 20px;
		font-weight: 700;
		color: $dk-grey;
		text-transform: uppercase;
		text-align: center;
	}

	&__text {
		font-size: 13px;
		line-height: 1.8;
		color: #7b7b7b;
		text-align: center;
	}
}

.works-btn {
	@include section-button;
		max-width: 210px;

	@media all and (min-width: 576px) {
		max-width: 165px;
	}
}



// align-items-center
// text-align: center;
// justify-content: center;
