.navigation {
	background-color: rgba($white, .8);

	.nav-link {
		font-family: $sec-font;
		font-size: 13.5px;
		color: $nav-color;
		text-transform: uppercase;

		&:hover {
			background-color: $orange;
			color: $white;
		}
	}
}
