.pricing-table {
	font-family: $sec-font;
	font-weight: 300;
	color: #818b95;	
	text-align: center;
	background-color: #e7edf3;
	padding: 135px 0;

	.heading__text {
		font-size: 18px;		
	}

	.mb-50 {
			margin-bottom: 50px;
		}

	.plan {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1%;
		background-color: $white;
		min-height: 430px;
		text-transform: uppercase;
		transition: all .5s ease;		

		:nth-child(3) {
			padding-bottom: 25px;
		}

		.price {
			font-size: 60px;
			font-weight: 700;
			color: $orange;
			line-height: 1;

			.currency {
			font-size: 30px;
			vertical-align: super;
			}
		}

		.brdr {
			display: block;
			width: 100%;
			border-bottom: 1px solid #e2e9f0;
		}

		&__btn {
			@include section-button;
			max-width: 130px;
		}
	}

	.middle {
		color: $white;
		min-height: 500px;
		background-color: $blue;
		// padding: 75px 0;

		.price {
			color: $white;
		}
	}

	// .plan:hover{
	// 		color: $white;
	// 		background-color: $blue;
			
	// 		min-height: 500px;
	// 		// padding: 75px 0;
	// 	}

 }