@font-face {
			font-family: "GothamProBold";
			src: url("../fonts/GothamProBold.eot");
			src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBold.woff") format("woff"),
			url("../fonts/GothamProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: bold;
	}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400');

$mn-font: 'Open Sans', sans-serif;
$sec-font: 'Lato', sans-serif;
$hd-font: "GothamProBold", sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: "GothamProBold", sans-serif;

$white: #fff;
$black: #000;
$blue: #709dca;
$orange: #ffbb42;
$lt-grey: #a9a9a9;
$dk-grey:#394b50;

$base-size: 14px;

@function px_to_rem($target, $context: $base-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}

$sml-size: px_to_rem(12px);
$mdl-size: px_to_rem(14px);
$logo-size: px_to_rem(18px);
$mn-title: px_to_rem(36px);
$form-title: px_to_rem(24px);
$section-title: px_to_rem(30px);