<section class="choose">
	<div class="container">
		<div class="row mb-100">
			<div class="col-12 text-center">
				<h2 class="section-title inline">
					<span class="section-title__marker">why</span> choose us
				</h2>

				<p class="section-description center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsum. Laborum officia rerum totam, modi, voluptas odit? Quos nesciunt, aliquid!</p>
			</div>
		</div>

		<div class="row justify-content-between">
			<div class="col-6 pt-4">
				<div class="row mb-5">
					<div class="col-6">
						<div class="choose__card">
							<img src="img/homepage/infinity.png" alt="icon">

							<h5 class="choose__card-title">unlimited options</h5>

							<ul class="choose__card-list">
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<div class="choose__card">
							<img src="img/homepage/infinity.png" alt="icon">

							<h5 class="choose__card-title">unlimited options</h5>

							<ul class="choose__card-list">
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="choose__card">
							<img src="img/homepage/infinity.png" alt="icon">

							<h5 class="choose__card-title">unlimited options</h5>

							<ul class="choose__card-list">
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<div class="choose__card">
							<img src="img/homepage/infinity.png" alt="icon">

							<h5 class="choose__card-title">unlimited options</h5>

							<ul class="choose__card-list">
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
								<li class="choose__card-item">Information architecture</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="img-wrapper">
					<img src="img/homepage/about_img3.jpg" alt="about">
				</div>
			</div>
		</div>
	</div>
</section>