* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: 'Mukta', sans-serif;
	font-size: 22px;
	font-weight: 700;	
	color: #1d1d1d;
	text-transform: uppercase;
	background-color: #e2e7ec;
}

.container {
	width: 100%;
	max-width: 1125px;
	margin: 40px auto;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	margin-bottom: 75px;

	// &:nth-child(2),
	// &:first-child {
	// 	margin-bottom: 20px;
	// }
}

.link {
	text-decoration: none;
	display: block;
	background-color: #fff;
	opacity: 0.85;

	&:hover{
		opacity: 1;
	}	
}

.date {
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	color: #818181;
	min-height: 21px;	
	margin-bottom: 15px;
}

.block-car {
		flex-basis: 66.2%;		
		margin-bottom: 20px;		
		
	.link {
		min-width: 100%;
		position: relative;
		padding-top: 74%;	
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__contant {
		position: absolute;
		bottom: 6%;
		left: 5%;
		font-size: 30px;
		line-height: 1.36;
		color: #fff;
	}
}

.block {
	flex-basis: 32%;	

	.img {
		position: relative;
		min-width: 100%;
		padding-top: 70%;

		& > *  {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.content {
		padding: 25px;		

		&__title {
			line-height: 1.36;
			color: #1d1d1d;
			min-height: 60px;
			margin-bottom: 65px;
		}
	}

	&:nth-child(2) {
	// &:first-child {
		margin-bottom: 20px;
	}	
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;

	&__text{
		font-size: 13px;
		color:#99a5b0;
		padding-left: 13px;
	}
}
