<header class="main-header">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<p class="small-text logo-text">интернет-магазин мебели</p>
				<a class="logo" href="#">postelli.<span>ru</span></a>
			</div>
			<div class="col-2">
				<div class="block-wrapper city">
					<!-- <i class="fas fa-map-marker-alt"></i> -->
					<p class="small-text mb-1">Ваш город</p>
					<p class="city-name mb-0">Москва</p>
				</div>
			</div>
			<div class="col-2">
				<div class="block-wrapper">
					<p class="small-text mb-1">График работы</p>
					<p class="opening mb-0">10:00 - 22:00, Пн-Вс</p>
				</div>
			</div>
			<div class="col-3">
				<div class="block-wrapper">
					<p class="phone-number mb-0">8 (499) 703 38 46</p>
					<p class="phone-number-text mb-0">Заказать звонок</p>
				</div>
			</div>
			<div class="col-2">
				<div class="block-wrapper basket">
					<a href="#" class="basket__link">корзина
						<span>(0)</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>