<section id="about" class="about">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-md-4">
				<div class="section-img-block">
					<h2 class="section-title">about us</h2>
				</div>
			</div>

			<div class="col-12 col-md-8 col-lg-7">
				<div class="about__descr">
					<p class="section-descr">
						Nullam quis risus eget urna <span class="strong">mollis ornare</span> vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
					</p>
					<p class="section-descr">
						<span class="strong">Morbi leo risus</span>, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet <span class="italic">fermentum</span>. Sed posuere consectetur est at lobortis.
					</p>

					<div class="row justify-content-center">
						<div class="col-7 col-md-4">
							<a href="#" class="section__btn">learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>