<section id="home" class="first-screen">
	<div class="container">
		<div class="row">
			<div class="col d-flex flex-column">
				<h1 class="first-screen__title">creative digital project</h1>

				<p class="first-screen__text">Duis mollis, est non commodo luctus, <br/>nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

				<a href="#about" class="first-screen__scroll"></a>
			</div>
		</div>
	</div>
</section>