<section id="contact" class="contacts">

  <div id="map"></div>

  <div class="get-in-touch pt-140">

      <h2 class="section-title">get in touch</h2>

        <form action="#" class="get-in-touch__form">

           <div class="input-wrapper">
             <label class="input-label">
               <input type="text" class="input-field user-data" placeholder="your name" required>
               <span class="star">*</span>
             </label>

            <label class="input-label">
               <input type="email" class="input-field user-data" placeholder="your email" required>
               <span class="star">*</span>
            </label>
           </div>

           <label class="input-label label-message">
             <textarea class="input-field input-message" name="descrField" id="descrField" placeholder="your message" required></textarea>
             <span class="star-message">*</span>
           </label>

           <input type="submit" class="form-btn" value="send message">

        </form>

        <div class="contact-block">
          <div class="panel"></div>
          <div class="contact-info">
             <address>
              <span>Ikan Piranha Atas 220C</span>
              <span>Malang - East Java</span>
              <span>Indonesia</span>
             </address>
          </div>
        </div>

        <div class="contact-block">
          <div class="panel"></div>
          <div class="contact-info">
             <p class="phone-number">067-43-94-000</p>
          </div>
        </div>


    </div>
</section>
