<section id="contact" class="contacts">

  <div class="get-in-touch pt-125 px-2 px-lg-0">

      <h2 class="section-title">get in touch</h2>

        <form action="#" class="get-in-touch__form">

           <div class="input-wrapper">
            <label class="input-label mb-3 mb-md-0">
               <input type="text" class="input-field user-data" placeholder="your name *" required>
            </label>

            <label class="input-label mb-3 mb-md-0">
               <input type="email" class="input-field user-data" placeholder="your email *" required>
            </label>
           </div>

          <label class="input-label label-message">
             <textarea class="input-field input-message" name="descrField" id="descrField" placeholder="your message *" required></textarea>
          </label>

           <input type="submit" class="form-btn" value="send message">

        </form>

        <div class="contact-block">
          <div class="panel"></div>
          <div class="contact-info">
             <address>
              <span>Ikan Piranha Atas 220C</span>
              <span>Malang - East Java</span>
              <span>Indonesia</span>
             </address>
          </div>
        </div>

        <div class="contact-block phone">
          <div class="panel"></div>
          <div class="contact-info">
             <span>+38(067)-43-94-000</span>
             <span>+380536-727374</span>
          </div>
        </div>
    </div>

    <div id="map"></div>
</section>