<section id="services" class="services">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-4 order-md-2 p-0">
				<div class="section-img-block">
					<div class="title-wrapper">
						<h2 class="section-title">our services</h2>
						<blockquote class="quote">
							<p>“Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
							</p>
							<span>- Borat -</span>
						</blockquote>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-8 order-md-1">
				<div class="row">
					<div class="col-12 col-sm-6 p-0">
						<a href="#" class="services__block design">
							<div class="block-wrapper">
								<h3 class="block-title">graphic design</h3>
								<p class="block-descr">Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
						</a>
					</div>

					<div class="col-12 col-sm-6 p-0">
						<a href="#" class="services__block web">
							<div class="block-wrapper">
								<h3 class="block-title">web development</h3>
								<p class="block-descr">Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
						</a>
					</div>

					<div class="col-12 col-sm-6 order-sm-4 p-0">
						<a href="#" class="services__block mobile">
							<div class="block-wrapper">
								<h3 class="block-title">mobile development</h3>
								<p class="block-descr">Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
						</a>
					</div>

					<div class="col-12 col-sm-6 order-sm-3 p-0">
						<a href="#" class="services__block seo">
							<div class="block-wrapper">
								<h3 class="block-title">seo & marketing</h3>
								<p class="block-descr">Cras mattis consectetur purus sit amet fermentum.</p>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>