@mixin layout {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin transition($prop: all){
	transition: $prop .2s ease;
}

@mixin title($size: $base-size) {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: $size;
	text-transform: uppercase;
	position: relative;
}

@mixin padding-hack($padding, $object-fit: cover) {
	position: relative;
	padding-top: $padding;
	@content;

	& > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: $object-fit;
	} 
}

@mixin green-line($width, $height) {

	&::before {
		content: "";
		border-top: $height solid $corp-green;
		display: inline-block;
		width: $width;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: -1;
	}
}

@mixin section-button ($color: $white, $bg-color: $corp-green){
	color: $color;
	background-color: $bg-color;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	@include transition;
	width: 100%;
	border: none;
	@content;

	&:hover {
		@if($bg-color == $white) {
			background-color: lighten($corp-green, 5%);
		} @else {
		background-color: darken($corp-green, 10%);
		// color: $white;
		}
	}
}

@mixin placeholder {
        ::-webkit-input-placeholder {
            @content;
        }
        ::-moz-placeholder {
            @content;
        }
        :-ms-input-placeholder {
            @content;
        }
        :-moz-placeholder {
            @content;
        }
    }

   