.plans {

	.section-description {
		margin-bottom: px_to_rem(100px);
	}

	&__card {
		border-top: 5px solid $corp-green;
		padding: px_to_rem(30px);
		position: relative;
		display: flex;
		flex-direction: column;
		@include transition;

		&:hover {
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
		}

		&::before {
			content: "";
			border: 10px solid transparent;
			border-right-color: $corp-green;
			border-top-color: $corp-green;
			position: absolute;
			top: 0;
			right: 0;
		}

		@media all and (min-width:568px) and (max-width:1199px) {
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
			margin-bottom: 1rem;
		}

	}

	&__card-title {
		@include title($section-title);
		margin-bottom: px_to_rem(15px);
	}

	&__card-price {
		color: $white;
		background-color: $corp-green;
		text-transform: uppercase;
		text-align: center;
		padding: 5px 0;
		margin-bottom: px_to_rem(50px);
		flex: 0 0 60%;
		max-width: 60%;
		font-weight: 700;

		@media all and (max-width: 767px) {
			align-self: center;
			padding-left: px_to_rem(30px);
			padding-right: px_to_rem(30px); 
		}
	}

	&__card-btn {
		@include section-button;
		display: block;
		padding: 15px 0;
		flex: 0 0 45%;
		max-width: 45%;

		&:hover {
			background-color: lighten($corp-green, 10%);
			color: $white;
		}

		@media all and (max-width: 767px) {

		}
	}

	.marked-list {
		margin-bottom: px_to_rem(50px);
	}
}