
.first-screen {
	background-color: aqua;
}

.large {
	min-height: 100vh;
}

.logo {
		// display: inline-block;
		font-size: 40px;
		color: blue;	
	}


.row {
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// max-width: 900px;
	// margin: auto;

	.logo {
		margin-bottom: 40px;
	}

	
	.text {
		font-size: 25px;
		margin-bottom: 50px;
	}

	.search-form {
		font-size: 0;
		margin-bottom: 40px;


		&__input {
		font-size: 20px;
		line-height: 2;
		padding: 0 20px;
		}

		&__buttom {
			font-size: 20px;
			line-height: 2;
			max-width: 40px;
			background-image: url("../img/favicon.png");
			background-repeat: no-repeat;
			background-size: 80%;
			background-position: 70% 50%;
			border: 2px solid white;
		}
	}

	.link {
		position: relative;

		&::after {
			content: " ";
			position: absolute;		
			width: 20px;
			height: 20px;
			top: 100%;
			left: 13%;
			border-bottom: 2px solid blue;
			border-right: 2px solid blue;
			transform: rotate(45deg);
			transition: all .2s ease;
		}

		&:hover{
			color: red;
		}

		&:hover::after {
			border-bottom: 2px solid red;
			border-right: 2px solid red;
		}

		
	}
}