.navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #ccc;
	padding: 40px 20px;

	&__list {
		display: flex;
		// justify-content: center;
		// max-width: 50%;
	}

	&__item {
		margin-right: 25px;

	}

	&__link {
		display: block;
		font-size: 20px;
		line-height: 2;
		color: #fff;
	}
}

.contant {	
	max-width: 60%;
	margin: auto;
	padding-top: 30px;
	display: flex;

	.description {
		flex-basis: 50%;
		display: flex;
		// justify-content: center;
		align-items: center;

		&__text {

		}
	}

	&__img {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
	}

	.one {
		display: flex;
		justify-content: flex-start;
	}

	.two {
		display: flex;
		justify-content: flex-end;
	}
}


.row-3 {
	max-width: 60%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

