.prod-card {
	// width: 100%;
	// max-width: 1200px;
	// min-height: 100vh;
	background-image: url("../img/fon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	
}
// .row-4{
// 	min-width: 60%;
// 	// margin: auto;
// 	display: flex;

// 	// flex-direction: column;
	// justify-content: space-around;
	// align-items: center;
// }

.contain {
	display: flex;

}
.prod {

	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	align-items: center;
}

.pfirst {
	justify-content: flex-start;
}

.psecond {
	justify-content: flex-end;
}

.prod__link {
	display: block;
	background-color: red;
	opacity: 0.5;
	width: 300px;
	min-height: 200px;
}

.btn {
	@include btn;
}
