@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400");
@font-face {
	font-family: "GothamProBlack";
	src: url("../fonts/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #394b50;
	position: relative;
}

.heading {
	font-family: "GothamProBlack", sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #394b50;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}

.heading__text {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #818b95;
	text-align: center;
}

.fa-phone {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.navigation {
	background-color: rgba(255, 255, 255, .8);
}
.navigation .nav-link {
	font-family: "Lato", sans-serif;
	font-size: 13.5px;
	color: #868686;
	text-transform: uppercase;
}
.navigation .nav-link:hover {
	background-color: #ffbb42;
	color: #fff;
}

.check-in {
	background-color: #709dca;
	padding-top: 100px;
}

.check-in__heading {
	font-family: "GothamProBlack", sans-serif;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.check-in__text {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}

.check-in-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.check-in-form__label {
	-ms-flex-preferred-size: 25.5%;
	flex-basis: 25.5%;
	position: relative;
	margin: 0;
}
.check-in-form__field {
	font-size: 13px;
	color: #a9a9a9;
	width: 100%;
	border: none;
	padding: 10px 0 10px 35px;
}
.check-in-form .fas {
	position: absolute;
	top: 32%;
	left: 5%;
}
.check-in-form__btn {
	-ms-flex-preferred-size: 21%;
	flex-basis: 21%;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background-color: #ffbb42;
}
.check-in-form__btn:hover {
	background-color: #f59d00;
}

.slider-row {
	-webkit-transform: translateY(20%);
	        transform: translateY(20%);
}

.slider {
	-webkit-transform: translateY(7%);
	        transform: translateY(7%);
}

.tv-set {
	position: relative;
	min-height: 345px;
}
.tv-set::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/tvset.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slick-dots {
	bottom: -40%;
}
@media all and (max-width: 991px) {
	.slick-dots {
		display: none !important;
	}
}
.slick-dots li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
}
.slick-dots li.slick-active button::before {
	border-color: blue;
	background-color: white;
}
.slick-dots li button {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.slick-dots li button::before {
	content: "";
	width: 12px;
	height: 12px;
	display: block;
	border: 1px solid grey;
	background-color: white;
	border-radius: 50%;
	opacity: 1;
	position: initial;
}

.services {
	padding-top: 200px;
}
.services .heading__text {
	font-size: 16px;
	text-align: center;
	margin-bottom: 70px;
}
.services__list {
	list-style: none;
}
.services__item {
	margin-bottom: 70px;
}
.services__heading {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.services__text {
	font-size: 13px;
	max-width: 90%;
}

.about-us {
	background-color: #ffbb42;
}
.about-us__img {
	min-height: 100vh;
	background-image: url("../img/table.jpg");
	background-size: cover;
}
.about-us .description {
	max-width: 93%;
	padding-left: 80px;
	color: #fff;
}
.about-us .description .white {
	color: #fff;
}
.about-us .description__text {
	font-size: 13px;
	line-height: 1.9;
}
.about-us .description .read__btn {
	display: block;
	background-color: #ffbb42;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px 0;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	max-width: 145px;
	-webkit-box-shadow: 1px 1px 2px #394b50;
	        box-shadow: 1px 1px 2px #394b50;
}
.about-us .description .read__btn:hover {
	background-color: #f59d00;
	text-decoration: none;
	color: #fff;
}

.pricing-table {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	color: #818b95;
	text-align: center;
	background-color: #e7edf3;
	padding: 135px 0;
}
.pricing-table .heading__text {
	font-size: 18px;
}
.pricing-table .mb-50 {
	margin-bottom: 50px;
}
.pricing-table .plan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 1%;
	background-color: #fff;
	min-height: 430px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	        transition: all .5s ease;
}
.pricing-table .plan :nth-child(3) {
	padding-bottom: 25px;
}
.pricing-table .plan .price {
	font-size: 60px;
	font-weight: 700;
	color: #ffbb42;
	line-height: 1;
}
.pricing-table .plan .price .currency {
	font-size: 30px;
	vertical-align: super;
}
.pricing-table .plan .brdr {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e2e9f0;
}
.pricing-table .plan__btn {
	display: block;
	background-color: #ffbb42;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px 0;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	max-width: 130px;
}
.pricing-table .plan__btn:hover {
	background-color: #f59d00;
	text-decoration: none;
	color: #fff;
}
.pricing-table .middle {
	color: #fff;
	min-height: 500px;
	background-color: #709dca;
}
.pricing-table .middle .price {
	color: #fff;
}

.works {
	min-height: 100vh;
	padding: 150px 0;
}

.mb-90 {
	margin-bottom: 90px;
}

.step:nth-child(odd) {
	position: relative;
}
.step:nth-child(odd)::before {
	content: "";
	position: absolute;
	background-image: url("../img/arctop.png");
	background-repeat: no-repeat;
	top: -13%;
	right: -34%;
	width: 145px;
	height: 40px;
}

.step:nth-child(2) {
	position: relative;
}
.step:nth-child(2)::after {
	content: "";
	position: absolute;
	background-image: url("../img/arctop.png");
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
	top: 23%;
	right: -26%;
	width: 145px;
	height: 40px;
}

.step__heading {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #394b50;
	text-transform: uppercase;
}

.step__text {
	font-size: 13px;
	line-height: 1.8;
	color: #7b7b7b;
	text-align: center;
}

.works-btn {
	display: block;
	background-color: #ffbb42;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	width: 100%;
	padding: 10px 0;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	max-width: 165px;
}
.works-btn:hover {
	background-color: #f59d00;
	text-decoration: none;
	color: #fff;
}

.clients {
	background-color: #ffbb42;
	padding: 135px 0;
}

.mb-50 {
	margin-bottom: 50px;
}

.white {
	color: #fff;
}

.cls-1 {
	font-size: 30px;
	fill: #7b7b7b;
	font-family: BrandonGrotesque;
	font-weight: 700;
}

.quote .card-text {
	position: relative;
	font-size: 13px;
	color: #7b7b7b;
}

.quote .quotes-top {
	position: absolute;
	left: -7%;
}

.client {
	font-family: "Lato", sans-serif;
	font-size: 13px;
	color: #ffbb42;
	line-height: 1.8;
}

.specialty {
	color: #99a9ae;
}

.newsletter {
	padding-top: 150px;
}
.newsletter__map {
	min-height: 100vh;
	background: url("../img/bg_dotted.jpg") no-repeat;
	background-size: 95%;
	background-position: center;
}

.letter {
	border: 1px solid #a9a9a9;
}

.first {
	-ms-flex-preferred-size: 35%;
	flex-basis: 35%;
}

.second {
	-ms-flex-preferred-size: 38%;
	flex-basis: 38%;
}

.subscribe {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
}

.circle {
	position: relative;
	height: 280px;
	width: 280px;
	background-color: #394b50;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: translateY(20%);
	        transform: translateY(20%);
}
.circle > * {
	display: block;
	color: #fff;
}
.circle__link {
	color: #ffbb42;
}
.circle__link:hover {
	text-decoration: none;
}
.circle .triangle {
	position: absolute;
	fill: #394b50;
	bottom: -6%;
}

.circle__descr {
	max-width: 140px;
}

.brand-bottom {
	-webkit-transform: translateY(174%);
	        transform: translateY(174%);
}

.footer-contacts {
	padding: 65px 0 50px;
}

.footer-link {
	text-transform: uppercase;
	color: #394b50;
}
.footer-link:hover {
	color: #ffbb42;
	background-color: transparent;
}

.phone-number {
	font-size: 22.5px;
	color: #394b50;
}

.social__list {
	list-style: none;
}

.social__link {
	margin-right: 17px;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}
.social__link:hover {
	color: #ffbb42;
}

.copyright {
	background-color: #709dca;
}
.copyright__text {
	font-size: 13px;
	color: #fff;
}
