@import "vars";

* {
	box-sizing: border-box;
}
html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;

}

.container {

}

.row {
	display: flex;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
}

.body-wrapper {
	overflow: hidden;


.pricing { 

	&__card {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $white;
		padding-top: 30px;	 
	 	flex-basis: 320px;
	 	transition: all .2s ease;
	 	box-shadow: 0 0 15px 5px rgba($black .5);
	 	background-color: $light-grey;
	 	position: relative;
	 	transition: all .2s ease;

	 	&:hover {

	 		.btn {
	 			transform: translateY(-50%);
	 			background-color: $pink;
	 		}

	 	}

	 	& > * {
	 		width: 100%;
	 		display: flex;
	 		flex-direction: column;

	 	}

	 	&-header{
	 		position: relative;
	 		padding: 30px 0;	 		
	 		display: flex;
	 		flex-direction: column;
	 		align-items: center;
	 		font-family: $sec-light;
	 	}

	 	.price {
	 		font-size: 	$huge-size;
	 		margin-bottom: 15px;


	 		&__currency-symbol{
	 			top:-5em;
	 		}
	 		
	 		&__currency-symbol,
	 		&__currency {
	 			font-size: 	$huge-size;

	 		}

	 		.title {
	 			font-family: $sec-light;
	 			font-size: $large-size;
	 			text-transform: uppercase;
	 		}

	 		&-body {
	 			width: 100%;
	 			padding: 30px 0 60px;
	 			display: flex;
				flex-direction: column;	 			

	 		}

	 		.icon {
	 			$size: 30px;
	 			width: $size;
	 			height: $size;
	 			margin-bottom: 30px;

	 			}

	 			.list {

	 				&__item:not(:last-child){
	 					margin-bottom: 30px;
	 				}

	 				&__link {
	 					color:$black-text;
	 					text-decoration: none;
	 					transition: color .2s ease;

	 					&:hover {
	 						color: $pink;
	 					}

	 				}
	 			}

	 			&-footer {
	 				padding: 30px;
	 				position: relative;
	 			}

	 			.discount {
	 				font-size: $small-size;
	 				color: $light-text;
	 			}

	 			.btn {
	 				background-color: $aqua;
	 				color: $white;
	 				text-transform: uppercase;
	 				font-size: $middle-size;
	 				border: none;
	 				border-radius: 25px;
	 				padding: 13px 0;
	 				font-family: $sec-bold;
	 				letter-spacing: 2px;
	 				width: 100%;
	 				max-width: 60%;
	 				position: absolute;
	 				transform: translateY(30%);
	 				cursor: pointer;

	 			}

	 			&:nth-child(2) {
	 				flex-basis: 360px;
	 				
	 				.pricing__card-header {
	 					padding: 45px 0;
	 				}

	 				.pricing__card-body {
	 					width: 150%;
	 				}
	 				.pricing__card-footer {
	 					padding: 40px 0;
	 				}
	 				.btn {
	 					background-color: $pink;
	 					transform: translateY(-125%);

	 				}
	 			}

	 			&:hover {
	 				.tooltip{
	 				opacity: 1;}
	 			}
	 			}
	 	}

	 	.banner {
	 		$position: 20px;
	 		color:$white;
	 		position: absolute;
	 		display: flex;
	 		justify-content: center;
	 		align-items: center;
	 		width: $size;
	 		height: $size;
	 		background-color: $pink;
	 		font-family: $sec-bold;
	 		text-transform: uppercase;
	 		top: $position;
	 		right: $position;
	 		font-size: $;
	 		cursor: pointer;


	 		&::before,
	 		&::after {
	 			content: "";
	 		}

	 		&::before {
	 			content: "";
	 			@include circle(12px);
	 			$position: 20px;
	 		}

	 		&::after{
	 			content: "";
	 			@include circle(4px);
	 			$position: 20px;
	 		}

	 		.tooltip {
	 			display: flex;
	 			background-color: $dark;
	 			// padding: 3px 15px;
	 			border-radius: 25px;
	 			font-size: 1rem;
	 			display: flex;
	 			justify-content: center;
	 			align-items: center;
	 			min-height: 25px;
	 			min-width: 90px;
	 			position: absolute;
	 			right: 0;
	 			transform: translateX(120%);
	 			z-index: 100;
	 			letter-spacing: 2px;
	 			opacity: 0;
	 			transition: opacity .2s ease;

	 			&::before {
	 				content: "";
	 				border: 12px solid transparent;
	 				border-right-color: $dark;
	 				position: absolute;
	 				left:0;
	 				transform: translateX(-65%);
	 			}


	 		}
	 	}
	}
}