//COLOR:

$white: #ffffff;
$dark: #2c4058;
$dirt: #4b5562;
$aqua: #55b7ff;
$purple1: #7e5aff;
$purple2: #7e5afd;
$brown: #4b4b4b;

//SIZE:

$base-size: 14px;
$middle-size: 18px;
$big-size: 22px;
$large-size: 44px;
$huge-size: 80px;

//FONTS

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

// font-family: 'Open Sans', sans-serif;

// Платные шрифты:
// Gotham
// Gotham-Book

// <i class="fab fa-facebook-f"></i>
// <i class="fab fa-twitter"></i>
// <i class="fab fa-instagram"></i>
// <i class="fas fa-heart"></i>
// <i class="far fa-clock"></i>
// <i class="fas fa-inbox"></i>
// <i class="fas fa-phone"></i>
// <i class="fas fa-map-marker-alt"></i>