<section id="about-us" class="about-us">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-4">
				<div class="about-us__img-block">
					<h2 class="section-title about-us__title">about us</h2>
				</div>
			</div>

			<div class="col-7">
				<div class="about-us__descr">
					<p class="section-descr">
						Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
					</p>
					<p class="section-descr">
						Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.
					</p>

					<div class="row justify-content-center">
						<div class="col-4">
							<a href="#" class="about-us__btn">learn more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>