<section class="our-services">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="row">
					<div class="col-6">
						
					</div>
					<div class="col-6">
						
					</div>
				</div>
			</div>
			<div class="col-4">
				.
			</div>
		</div>
	</div>
</section>