* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.block-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}