.main-header {
	padding: 40px 0;
}
.logo-text {
	color: gray;
	line-height: 1.6;

	&::after {
		content: "";
		display: block;
		width: 30px;
		height: 1px;
		border-top: 1px solid  $corp-color;
	}
}

.logo {
	font-size: px_to_rem(30px);
	font-weight: 600;
	line-height: 0.5;
	text-transform: uppercase;
	color: $corp-color;

	@media all and (min-width: 992px) {

	}

	& > * {
		color: black;
		font-weight: 400;
	}
}

.small-text {
	font-size: px_to_rem(13px);
}

.city-name {
	font-size: px_to_rem(14px);
	font-weight: 700;
	line-height: 1.2;

	&::after {
		content: "";
		display: block;
		width: px_to_rem(50px);
		height: 1px;
		border-top: 1px dotted  $corp-color;
	}
}

.opening {
	font-size: px_to_rem(14px);
	font-weight: 700;
}

.phone-number {
	font-size: px_to_rem(18px);
	font-weight: 700;
}

.phone-number-text {
	font-size: px_to_rem(14px);
	color: orange;
	line-height: 1.2;

	&::after {
		content: "";
		display: block;
		width: px_to_rem(110px);
		height: 1px;
		border-top: 1px dotted  orange;
	}
}

.basket {

	&__link {
		display: block;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		max-width: 190px;
		padding: 15px 0;
		background-color: darkblue;

		 & > * {
		 	color: gray;
		}
	}
}