<section id="about-us" class="about-us">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-12 col-md-6">
				<div class="description">
					<h3 class="heading white mb-2 mb-lg-4 text-md-left">about us</h3>
					<p class="description__text mb-3 mb-lg-5 text-md-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa expedita fuga dolorum provident debitis, excepturi, repudiandae quam reiciendis, quod magni temporibus libero. Nesciunt nihil exercitationem incidunt. Quibusdam labore amet ullam delectus, officia harum numquam deserunt rerum accusantium dolores voluptatibus magni cupiditate fugit expedita blanditiis sequi fuga libero doloremque consequuntur doloribus.</p>
					<div class="row">
						<div class="col-12 col-lg-5">
							<a href="#" class="read__btn mx-auto m-md-0">read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>