<section id="clients" class="clients pt-135">
	<div class="container">
		<div class="row mb-3 mb-md-4 mb-lg-5">
			<div class="col">
				<h2 class="heading white">happy clients</h2>
				<p class="heading__text white m-0">Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="row justify-content-center mb-lg-3">
			<div class="col-11 col-lg-6 mb-3 mb-lg-0">

				<div class="client-card">
					<div class="client-review">
						<div class="client-img mr-4">
							<img src="img/darwin.jpg" alt="client">
						</div>

						<blockquote class="quote m-0">
							<p class="card-text">
								<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
							  		<text class="cls-1" x="0" y="20.998"> “ </text>
								</svg>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate i to tempora ducimus totam totam it nemo it autem ullam, nemo autem nemo autem ullam it to ullam nemo autem ullam porro it to make
								<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
							   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
								</svg>
							</p>

							<div class="client">
								<span class="client__name">darwin michle,</span>
								<span class="client__specialty">project manager</span>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
			<!-- card-end -->

			<div class="col-11 col-lg-6 mb-3 mb-lg-0">
				<div class="client-card">

					<div class="client-review">
						<div class="card-img mr-4">
							<img src="img/madam_elisabath2.jpg" alt="client">
						</div>

						<blockquote class="quote m-0">
							<p class="card-text">
								<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
							  		<text class="cls-1" x="0" y="20.998"> “ </text>
								</svg>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam nemo tempora ducimus totam nemo autem ullam,  nemo autem ullam autem ullam porro it to make type specimen book.
								<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
							   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
								</svg>
							</p>

							<div class="client">
								<span class="client__name">madam elisabath,</span>
								<span class="client__specialty">creative director</span>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
			<!-- card-deck end -->

		<div class="row justify-content-center">
			<div class="col-11 col-lg-6 mb-3 mb-lg-0">
				<div class="client-card">

					<div class="client-review">
						<div class="card-img mr-4">
							<img src="img/clips1.jpg" alt="client">
						</div>

						<blockquote class="quote m-0">
							<p class="card-text">
								<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
							  		<text class="cls-1" x="0" y="20.998"> “ </text>
								</svg>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate i to tempora ducimus totam totam it nemo it autem ullam, nemo autem nemo autem ullam it to ullam nemo autem ullam porro it to make
								<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
							   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
								</svg>
							</p>

							<div class="client">
								<span class="client__name">clips arter,</span>
								<span class="client__specialty">lipsum directer</span>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
			<!-- card-end -->

			<div class="col-11 col-lg-6">
				<div class="client-card">

					<div class="client-review">
						<div class="card-img mr-4">
							<img src="img/zam3.jpg" alt="client">
						</div>

						<blockquote class="quote m-0">
							<p class="card-text">
								<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
							  		<text class="cls-1" x="0" y="20.998"> “ </text>
								</svg>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam nemo tempora ducimus totam nemo autem ullam,  nemo autem ullam autem ullam porro it to make type specimen book.
								<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
							   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
								</svg>
							</p>

							<div class="client">
								<span class="client__name">madam elisabath,</span>
								<span class="client__specialty">creative director</span>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>