<section id="clients" class="clients">
	<div class="container">
		<div class="row mb-50">
			<div class="col">
				<h2 class="heading white">happy clients</h2>
				<p class="heading__text white">Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="card-deck mb-3">
			<div class="card h-100 ml-0 ">
				<div class="descr d-flex p-5">

					<div class="card-img mr-4">
						<img src="img/darwin.jpg" alt="client">
					</div>

					<blockquote class="quote m-0">			
						<p class="card-text">
							<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
						  		<text class="cls-1" x="0" y="20.998"> “ </text>
							</svg>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam totam  nemo autem ullam, porro it to make
							<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
						   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
							</svg>
						</p>
						
						<span class="client text-uppercase">darwin michle,</span>
						<span class="client specialty text-uppercase">project manager</span>
					</blockquote>				
				</div>
			</div> 
			<!-- card-end -->

			<div class="card h-100 mr-0 ">
				<div class="descr d-flex p-5">

					<div class="card-img mr-4">
						<img src="img/madam_elisabath2.jpg" alt="client">
					</div>

					<blockquote class="quote m-0">			
						<p class="card-text">
							<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
						  		<text class="cls-1" x="0" y="20.998"> “ </text>
							</svg>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam nemo autem ullam, porro it to make type specimen book.
							<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
						   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
							</svg>
						</p>
						
						<span class="client text-uppercase">madam elisabath,</span>
						<span class="client specialty text-uppercase">creative director</span>
					</blockquote>				
				</div>
			</div>
		</div>
			<!-- card-deck end -->

		<div class="card-deck">
			<div class="card h-100 ml-0 ">
				<div class="descr d-flex p-5">

					<div class="card-img mr-4">
						<img src="img/clips1.jpg" alt="client">
					</div>

					<blockquote class="quote m-0">			
						<p class="card-text">
							<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
						  		<text class="cls-1" x="0" y="20.998"> “ </text>
							</svg>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam totam nemo autem ullam, porro it to make
							<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
						   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
							</svg>
						</p>
						
						<span class="client text-uppercase">clips arter,</span>
						<span class="client specialty text-uppercase">lipsum directer</span>
					</blockquote>				
				</div>
			</div> 
			<!-- card-end -->

			<div class="card h-100 mr-0 ">
				<div class="descr d-flex p-5">

					<div class="card-img mr-4">
						<img src="img/zam3.jpg" alt="client">
					</div>

					<blockquote class="quote m-0">			
						<p class="card-text">
							<svg class="quotes-top" xmlns="http://www.w3.org/2000/svg" width="22" height="11" viewBox="0 0 22 11">
						  		<text class="cls-1" x="0" y="20.998"> “ </text>
							</svg>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptate tempora ducimus totam nemo autem ullam, porro it to make type specimen book.
							<svg class="quotes-btm" xmlns="http://www.w3.org/2000/svg" width="50" height="11" viewBox="0 0 22 11">
						   		<text class="cls-1" transform="matrix(-0.999, 0, 0, 0.999, 19, 21.483)"> “ </text>
							</svg>
						</p>
						
						<span class="client text-uppercase">madam elisabath,</span>
						<span class="client specialty text-uppercase">creative director</span>
					</blockquote>				
				</div>
			</div>
		</div>
	</div>
</section>