<nav class="top-line">
	<div class="container">
		<div class="row justify-content-between align-items-center pt-4 pb-4">
			<div class="col-1">
				<a href="#"><img src="../img/logo.png" alt="logo"></a>
			</div>
			<div class="col-9">
				<div class="top-nav">
					<ul class="top-nav__list">
						<li class="top-nav__item"><a href="#" class="top-nav__link">home</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">service</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">about us</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">prising table</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">how it work</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">happy clients</a></li>
						<li class="top-nav__item"><a href="#" class="top-nav__link">contact us</a></li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
</nav>
		
<section class="check-in">	
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="check-in__heading">boost up your local business</h1>
				<p class="check-in__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nostrum placeat, fugit praesentium. Suscipit, voluptas.</p>
			</div>
		</div>		
			
		<div class="row justify-content-center">
			<div class="col-11">
				<form action="#" class="check-in-form">
					<input class="check-in-form__field" id="username" type="text" placeholder="Full Name" name="userName" required>
		
					<input class="check-in-form__field" id="userEmail" type="email" placeholder="Email Address" name="userEmail" required>
		
					<input class="check-in-form__field" id="phoneNumber" type="text" placeholder="Phone Number" name="phoneNumber"  pattern="[0-9]" minlength="13" maxlength="13" required>
		
					<input class="check-in-form__btn" type="submit" value="REQUEST A QUOTE">
				</form>
			</div>
		</div>	
	</div>

	<!-- /.row -->
</section>

	
