<footer class="footer">
  <div class="container footer-contacts">
    <ul class="nav nav-pills d-flex justify-content-center mb-2">
          <li class="nav-item">
            <a class="nav-link footer-link" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#services">service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#about-us">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#pricing-table">pricing table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#how-it-work">how it work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#clients">happy clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="#contacts">contact us</a>
          </li>   
    </ul>

      <div class="row">
         <div class="col d-flex justify-content-center align-items-center">
            <i class="fas fa-phone fa-lg mr-1"></i>
            <span class="phone-number mb-2">+987 9976 999</span>
         </div>
      </div>

      <div class="row">
         <div class="col d-flex justify-content-center align-items-center">
            <ul class="social__list d-flex">
              <li class="social__item">
                <a href="https://www.facebook.com/profile.php?id=100017214939422" class="social__link" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
         </div>
      </div>
    </div>

      <div class="copyright p-3">
        <p class="copyright__text text-center m-0">All contents © copyright 2014 Business Theme. All rights reserved Designed by : akhilwebfolio</p>
      </div>  
</footer>



