<section id="how-it-work" class="works pt-150">
	<div class="container">
		<div class="row mb-90">
			<div class="col">
				<h2 class="heading">how it works</h2>
				<p class="heading__text m-0">Lorem lorem ipsum dolor sit amet, consectetur</p>
			</div>
		</div>

		<div class="row mb-90">
			<div class="col-10 col-sm-6 col-lg-3 pr-4 mb-4 mb-md-5 mb-lg-0 step">
				<div class="col-12 d-flex justify-content-center icon mb-90">
					<img class="step-img " src="img/step1.png" alt="headphones">
				</div>
				<h4 class="step__heading">step 1</h4>
				<p class="step__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>

			<div class="offset-2 offset-sm-0 col-10 col-sm-6 col-lg-3 px-4 mb-4 mb-md-5 mb-lg-0 step">
				<div class="col-12 d-flex justify-content-center icon mb-90">
					<img class="step-img " src="img/step2.png" alt="headphones">
				</div>
				<h4 class="step__heading">step 2</h4>
				<p class="step__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni</p>
			</div>

			<div class="col-10 col-sm-6 col-lg-3 px-4 mb-4 mb-sm-0 step">
				<div class="col-12 d-flex justify-content-center icon mb-90">
					<img class="step-img mb-90" src="img/step3.png" alt="headphones">
				</div>
				<h4 class="step__heading">step 3</h4>
				<p class="step__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni</p>
			</div>

			<div class="offset-2 offset-sm-0 col-10 col-sm-6 col-lg-3 pl-4 step">
				<div class="col-12 d-flex justify-content-center icon mb-90">
					<img class="step-img mb-90" src="img/step4.png" alt="headphones">
				</div>
				<h4 class="step__heading">step 4</h4>
				<p class="step__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<a href="#" class="works-btn">get start now</a>
		</div>

	</div>
</section>