<section class="works">
	<div class="container">
		<div class="row mb-90">
			<div id="how-it-work" class="col">
				<h2 class="heading">how it works</h2>
				<p class="heading__text">Lorem lorem ipsum dolor sit amet, consectetur</p>
			</div>
		</div>

		<div class="row mb-90">
			<div class="col-3 step d-flex flex-column align-items-center">
				<img class="step-img mb-90" src="img/step1.png" alt="headphones">
				<h4 class="step__heading">step 1</h4>
				<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>

			<div class="col-3 step d-flex flex-column align-items-center">
				<img class="step-img mb-90" src="img/step2.png" alt="headphones">
				<h4 class="step__heading">step 2</h4>
				<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>

			<div class="col-3 step d-flex flex-column align-items-center">
				<img class="step-img mb-90" src="img/step3.png" alt="headphones">
				<h4 class="step__heading">step 3</h4>
				<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>

			<div class="col-3 step d-flex flex-column align-items-center">
				<img class="step-img mb-90" src="img/step4.png" alt="headphones">
				<h4 class="step__heading">step 4</h4>
				<p class="step__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquam ea molestias explicabo magni in ad.</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<a href="#" class="works-btn">get start now</a>
		</div>

	</div>
</section>