<div id="navbar" class="navigation sticky-top">
    <div class="container">
       <nav id="top-line" class="navbar navbar-expand-md navbar-light py-2 py-md-3 py-lg-4">
         <div>
          <a class="navbar-brand m-0" href="#">
             <img src="img/logo.png" alt="logo">
          </a>
         </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">about us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing-table">pricing table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#how-it-work">how it work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#clients">happy clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacts">contact us</a>
            </li>
          </ul>
        </div>
      </nav>

  </div>
</div>