<div id="navbar" class="navigation sticky-top">
  <div class="container">
   <div class="row justify-content-between align-items-center">
      <div class="col-3 col-sm-1 pl-4 p-sm-0">
        <a class="navbar-brand m-0" href="#">
           <img src="img/logo.png" alt="logo">
        </a>
      </div>
     <div class="col-9 col-sm-10 col-xl-9  p-0">
      <nav id="top-line" class="navbar navbar-light py-3 py-lg-4 px-0">

        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing-table">pricing table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#how-it-work">how it work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#clients">happy clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts">contact us</a>
          </li>
        </ul>
      </nav>
     </div>
   </div>
  </div>
</div>