<section id="contacts" class="newsletter">
	<div class="container border-bottom border-#a9a9a9">
		<div class="row">
			<div class="newsletter__headline col mb-4">
				<h2 class="heading">newsletter</h2>
				<p class="heading__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-10">
				<form action="#" class="check-in-form">
					<label class="check-in-form__label letter first" for="username_bottom">
						<i class="fas fa-user"></i>
						<input class="check-in-form__field text" id="username_bottom" type="text" placeholder="Full Name" name="userName" pattern="[A-Za-z]" required>
					</label>
		
					<label class="check-in-form__label letter second" for="userEmail_bottom">
						<i class="fas fa-envelope"></i>
						<input class="check-in-form__field email" id="userEmail_bottom" type="email" placeholder="Email Address" name="userEmail" required>
					</label>

					<input class="check-in-form__btn subscribe" type="submit" value="subscribe now">
				</form>
			</div>
		</div>

		<div class="newsletter__map">

			<div class="newsletter__descr  d-flex flex-column align-items-center pt-4">
				<div class="circle rounded-circle">
				
					<span class="circle__address text-uppercase">address</span>
					<address class="circle__descr text-center">	
						Usiness street<br>
						Econd north section<br>
						Bavani nagar.88769<br>
						Call:+987-9976-999					
						<a class="circle__link" href="mailto:info@businessface.com">info@businessface.com</a>				 
					</address>
				
					 <svg class="triangle" width="16" height="20">
				    	<polygon  points="0,0 8,20 16,0"/>
					</svg>	
				</div>
				
				<a class="brand brand-bottom m-0" href="#">
					<img src="img/logo.png" alt="logo">
				</a>
			</div>
		</div>
	</div>
</section>