<section id="contacts" class="newsletter">
	<div class="container border-bottom border-#a9a9a9">
		<div class="row mb-3 mb-sm-4 mb-lg-5">
			<div class="newsletter__headline col">
				<h2 class="heading">newsletter</h2>
				<p class="heading__text m-0">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
			</div>
		</div>

		<div class="row justify-content-center mb-3 mb-lg-0">
			<div class="col-11 col-sm-12 col-lg-10">
				<form action="#" class="check-in-form">
					<div class="form-row justify-content-center">

						<div class="col-11 col-sm-6 col-lg">
							<label class="form-control form-control-lg check-in-form__label m-lg-0" for="username">
								<i class="fas fa-user mr-2"></i>
								<input class="check-in-form__field text" id="username" type="text" placeholder="Full Name" name="userName" pattern="[A-Za-z]" required>
							</label>
						</div>

						<div class="col-11 col-sm-6 col-lg-5">
							<label class="form-control form-control-lg check-in-form__label m-lg-0" for="userEmail">
								<i class="fas fa-envelope mr-2"></i>
								<input class="check-in-form__field email" id="userEmail" type="email" placeholder="Email Address" name="userEmail" required>
							</label>
						</div>

						<div class="col-11 col-sm-7 col-lg-3">
							<input class="form-control form-control-lg check-in-form__btn px-0" type="submit" value="subscribe now">
						</div>

					</div>
				</form>
			</div>
		</div>

		<div class="newsletter__map">
			<div class="row">
				<div class="col-12 d-flex flex-column align-items-center">
					<div class="circle rounded-circle">

						<span class="circle__address text-uppercase">address</span>
						<address class="circle__descr text-center">
							Usiness street<br>
							Econd north section<br>
							Bavani nagar.88769<br>
							Call:+987-9976-999
							<a class="circle__link" href="mailto:info@businessface.com">info@businessface.com</a>
						</address>

						 <svg class="triangle" width="16" height="20">
					    	<polygon  points="0,0 8,20 16,0"/>
						</svg>

						<a class="brand brand-bottom m-0" href="#">
						<img src="img/logo.png" alt="logo">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>