<section id="services" class="services">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="heading">our services</h2>
				<p class="heading__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
			<div class="row">
				<div class="col-6">
					<ul class="services__list">						
						<li class="row services__item">

							<div class="services_img col-2">
								<img src="img/clock.png" alt="img">
							</div>

							<div class="col-10">
								<h3 class="services__heading">font-awesome icons</h3>
								<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil, voluptas numquam deleniti ratione qui omnis nulla nobis fugit assumenda repellendus ex eveniet aut asperiores, pariatur veniam rerum in! Dicta.</p>
							</div>
						</li>
						
						<li class="row services__item">
							<div class="services_img col-2">
								<img src="img/learn.png" alt="img">
							</div>
							<div class="col-10">
								<h3 class="services__heading">working contact form</h3>
								<p class="services__text">Fugiat sapiente, porro architecto expedita maxime nesciunt quam ad laboriosam perferendis voluptatem nihil, ab sint rem voluptas? Sint eaque commodi itaque iste unde ipsa hic? Saepe iure, ut enim recusandae.</p>
							</div>
						</li>
						<li class="row services__item">
							<div class="services_img col-2">
								<img src="img/friend.png" alt="img">
							</div>
							<div class="col-10">
								<h3 class="services__heading">friendly code</h3>
								<p class="services__text">Qui earum error facilis velit, nihil quam eos obcaecati commodi. Consequuntur excepturi, quia molestias, suscipit dolorem minus? Cumque nulla maxime commodi hic mollitia soluta qui quia at error aperiam, fuga.</p>
							</div>
						</li>
					</ul>
					
				</div>
				<div class="col-6">
					<ul class="services__list">
						<li class="row services__item">
							<div class="services_img col-2">
								<img src="img/set.png" alt="img">
							</div>
							<div class="col-10">
								<h3 class="services__heading"> fully responsive design</h3>
								<p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nihil, voluptas numquam deleniti ratione qui omnis nulla nobis fugit assumenda repellendus ex eveniet aut asperiores, pariatur veniam rerum in! Dicta.</p>
							</div>
						</li>
						<li class="row services__item">
							<div class="services_img col-2">
								<img src="img/rocat.png" alt="img">
							</div>		
							<div class="col-10">
								<h3 class="services__heading">retina ready icons here</h3>
								<p class="services__text">Fugiat sapiente, porro architecto expedita maxime nesciunt quam ad laboriosam perferendis voluptatem nihil, ab sint rem voluptas? Sint eaque commodi itaque iste unde ipsa hic? Saepe iure, ut enim recusandae.</p>
							</div>
						</li>
						<li class="row services__item">
							<div class="services_img col-2">
								<img src="img/dollar.png" alt="img">				
							</div>
							<div class="col-10">
								<h3 class="services__heading">flat trendy landing page design</h3>
								<p class="services__text">Qui earum error facilis velit, nihil quam eos obcaecati commodi. Consequuntur excepturi, quia molestias, suscipit dolorem minus? Cumque nulla maxime commodi hic mollitia soluta qui quia at error aperiam, fuga.</p>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
		</div>		
	</div>
</section>