<section class="pricing-table">
	<div class="container">
		<div class="row mb-50">
			<div id="pricing-table" class="col">
				<h2 class="heading">choos your price</h2>
				<p class="heading__text">Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="row justify-content-center align-items-center plans">
			<div class="col-12 col-md-4 px-4 plan border shadow-lg align-self-center  ">
					<h3 class="plan__heading mb-3">basic plan</h3>
					<p class="price mb-0">
						<span class="currency">$</span>22
					</p>
					<span class="brdr pd-3">per month</span>
					
					<span class="brdr py-2">1 account</span>
									
					<span class="brdr py-2">8 hour support</span>
					
					<span class="pt-2 pb-4">custom cloud services</span>
					<a href="#" class="plan__btn">get started</a>
			</div>

			<div class="plan middle border shadow-lg col-12 col-md-4 px-4">
				<h3 class="plan__heading mb-3">premium plan</h3>
				<p class="price mb-0">
					<span class="currency">$</span>42
				</p>
				<span class="brdr pd-3">per month</span>
				
				<span class="brdr py-2">2 account</span>
								
				<span class="brdr py-2">100mb storage</span>
				
				<span class="pt-2 pb-4">custom cloud services</span>
				<a href="#" class="plan__btn">get started</a>
			</div>

			<div class="plan border shadow-lg col-12 col-md-4 px-4">
				<h3 class="plan__heading mb-3">gold plan</h3>
				<p class="price mb-0">
					<span class="currency">$</span>62
				</p>
				<span class="brdr pd-3">per month</span>
				
				<span class="brdr py-2">8 account</span>
								
				<span class="brdr py-2">24 hour support</span>
				
				<span class="pt-2 pb-4">custom cloud services</span>
				<a href="#" class="plan__btn">get started</a>
			</div>
		</div>
	</div>
</section>
