<section id="pricing-table" class="pricing-table pt-135">
	<div class="container">
		<div class="row mb-4 mb-md-5">
			<div class="col">
				<h2 class="heading">choos your price</h2>
				<p class="heading__text m-0">Lorem lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</div>

		<div class="row justify-content-center align-items-center plans">

			<div class="plan middle border shadow-lg col-10 col-sm-8 col-md-4 px-5 px-md-4 mb-3 mb-sm-4 mb-md-0 order-md-2">
				<h3 class="plan__heading mb-3">premium plan</h3>
				<p class="price mb-0">
					<span class="currency">$</span>42
				</p>
				<span class="mb-3">per month</span>

				<span class="brdr">2 account</span>

				<span class="brdr">100mb storage</span>

				<span class="brdr mb-4">custom cloud services</span>
				<a href="#" class="plan__btn">get started</a>
			</div>

			<div class="col-10 col-sm-8 col-md-4 px-5 px-md-4 plan border shadow-lg align-self-center mb-3 mb-sm-4 mb-md-0 order-md-3">
				<h3 class="plan__heading mb-3">gold plan</h3>
				<p class="price mb-0">
					<span class="currency">$</span>62
				</p>
				<span class="mb-3">per month</span>

				<span class="brdr">8 account</span>

				<span class="brdr">24 hour support</span>

				<span class="brdr mb-4">custom cloud services</span>
				<a href="#" class="plan__btn">get started</a>
			</div>

			<div class="col-10 col-sm-8 col-md-4 px-5 px-md-4 plan border shadow-lg align-self-center order-md-1">
				<h3 class="plan__heading mb-3">basic plan</h3>
				<p class="price mb-0">
					<span class="currency">$</span>22
				</p>
				<span class="mb-3">per month</span>

				<span class="brdr">1 account</span>

				<span class="brdr">8 hour support</span>

				<span class="brdr mb-4">custom cloud services</span>
				<a href="#" class="plan__btn">get started</a>
			</div>
		</div>
	</div>
</section>
