* {
	margin: 0;
	padding: 0;
}

main {
	max-width: 800px;
	margin: auto;
	border: 10px solid brown;
}

ul[class^="color"] {
    position: relative;
    width: 100%;
    min-height: 100px; 

	    [class^="b"] {
		position: absolute;
		background-color: black;	
		width: 100px;
		height: 100px; 
	}				
}

ul:nth-child(odd) {
	
		.b1 {
			left:100px;
		}

		.b2 {
			left:300px;
		}

		.b3 {
			left:500px;
		}

		.b4 {
			left:700px;
		}
	}

ul:nth-child(even) {
	
		.b1{
			left: 0;
		}
		.b2 {
			left:200px;
		}

		.b3 {
			left:400px;
		}

		.b4 {
			left:600px;
		}		
	}

.color-blue { 
	background-color: aqua;
}

.color-red {
	background-color: red;
}

.color-yellow {
	background-color: yellow;
}

.color-green {
	background-color: lime;
}

.color-pink {
	background-color: fuchsia;
}

.color-gray {
	background-color: deepskyblue;
}

.color-coral {
	background-color: greenyellow;
}

.color-gold {
	background-color: mediumorchid;
}