.about-us {
	padding: 125px 0;

	&__img-block {
		width: 100%;
		height: 555px;
		background: $corp-col url("../img/about-img.jpg") no-repeat center/cover;
		display: flex;
		justify-content: center;
	}

	&__title {
		position: relative;
		transform: translateY(30%);

		&::before {
			content: " ";
			width: 50px;
			height: 54px;
			display: block;
			background: url("../img/about-icon.svg") no-repeat center/cover;
			position: absolute;
			top: -15%;
			left: 40%;
		}
	}

	&__descr {
		padding-top: 70px;

		& > :first-child {
			margin-bottom: 25px;
		}

		& > :nth-child(2){
			margin-bottom: 90px;
		}
	}

	&__btn {
		display: block;
		width: 100%;
		max-width: 195px;
		font-size: $text-size;
		font-style: italic;
		color: $light-text;
		text-transform: capitalize;
		text-align: center;
		border: 1px solid $text-col;
		padding: 15px 0;
		transition: all .5s ease;

		&:hover, &:focus {
			color: $white;
			background-color: $corp-col;
		}
	}
}

