.contacts {
	position: relative;

	.section-title {

		&::before {
 			width: 42px;
 			height: 60px;
			background: url("../img/contact-icon.svg") no-repeat center/cover;

			// @media all and (max-width: 575px) {
			// 	bottom: 30px;
			// }

			@media all and (max-width: 767px) {
				bottom: 50px;
			}
		}
 	}
}

#map {
    height: 850px;

    @media all and (max-width: 767px) {
		height: 100vh;
	}

    @media all and (min-width: 768px) and (max-width: 1199px) {
		height: 900px;
	}
}

.get-in-touch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba($corp-col, .5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 55px;
	pointer-events: none;

	@media all and (max-width: 767px) {
		min-height: 840px;
		position: relative;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 860px;
		pointer-events: auto;

		.input-wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 25px;

			@media all and (max-width: 767px) {
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-bottom: 0;
			}
		}

		.input-label {
			width: 100%;
			position: relative;
			max-width: 415px;

			@media all and (max-width: 767px) {
				max-width: 860px;
			}

			&:first-child {

				@media all and (min-width: 768px) and (max-width: 860px) {
					margin-right: 25px;
				}
			}
		}

		.input-field {
			font-family: $main-font;
			font-size: 20px;
			color: $text-col;
			line-height: 1.5;
			width: 100%;
			background-color: rgba($white, .4);
			position: relative;

			&::placeholder {
				font-family: $main-font;
				font-size: $text-size;
				font-style: italic;
				color: $white;
				text-transform: capitalize;
				letter-spacing: 2px;
			}
		}

		.user-data {
			border: none;
			outline: transparent;
			padding: 15px 25px;
		}

		.label-message {
			position: relative;
			max-width: 860px;
			margin-bottom: 55px;

			@media all and (max-width: 767px) {
				margin-bottom: 40px;
			}
		}

		.input-message {
			min-height: 200px;
			padding: 25px;
			border: none;
			outline: transparent;
			resize: horizontal;
		}

		.form-btn {
			font-family: $title-font;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: .7px;
			color: $white;
			width: 100%;
			max-width: 295px;
			background-color: $corp-col;
			border-radius: 2px;
			border: none;
			outline: transparent;
			box-shadow:
				inset 0 1px lighten(#8783b0, 10%),
				0 4px 1px darken(#8783b0, 10%);
			padding: 20px 0;

			@media all and (max-width: 767px) {
				max-width: 200px;
			}

			&:hover {
				background-color: darken($corp-col, 5%);
			}

			&:active {
				box-shadow: inset 0 1px 2px $violet;
			}
		}
	}

	.contact-block {
		position: absolute;
		z-index: 3;
	    top: 215px;
	    right: 0;
	    width: 90px;
	    height: 90px;
	    overflow: hidden;
	    white-space: nowrap;
		background-color: rgba($white, .5);
	    display: flex;
	    pointer-events: auto;
	    transition: width 1s ease;

	    @media all and (max-width: 767px) {
			top: 130px;
		}

	    @media all and (min-width: 768px) and (max-width: 991px) {
			top: 185px;
		}

		@media all and (min-width: 1200px) and (max-width: 1550px) {
			top: 185px;
		}

	    &:hover {
			width: 345px;
	    }

		.panel {
			min-width: 90px;
			height: 90px;
		    background: url("../img/address-icon.svg") no-repeat center;
			background-color: $corp-col;
		}

		 &:hover div.panel {
			background-color: darken($corp-col, 10%);
		}

		.contact-info {
			font-size: $text-size;
			color: $text-col;
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
			overflow: hidden;
			flex-direction: column;
	    }

	    .contact-info address{
	    	display: flex;
	    	flex-direction: column;
	    }
	}

	.phone {
		top: 305px;

		 @media all and (max-width: 767px) {
			top: 220px;
		}

		 @media all and (min-width: 768px) and (max-width: 991px) {
			top: 275px;
		}

		@media all and (min-width: 1200px) and (max-width: 1550px) {
			top: 275px;
		}

		&>.panel {
		    background: $corp-col url("../img/phone-icon.svg") no-repeat center;
		}
	}
}