* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(240,240,240);
}

main {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

a {
	text-decoration: none;
	color: black;
}



.navigation { 	
	display: flex;
	padding-top: 60px;
	margin-bottom: 105px;

	a:hover{
				color: red;
			}	

	.logo {
		font-size: 48px;
		line-height: 0.56;
		font-weight: 900;
		color: black;
		display: block;
		width: 30%;
		}

	.menu {		
		display: flex;
		justify-content: flex-end;
		flex-basis: 70%;
		margin-bottom: 40px;		

		&__item {			

			&:not(:last-child) {
				padding-right: 45px;
			}
		}
		
		&__link {
			display: block;
			font-size: 18px;
			color: black;
			line-height: 1.5;				
			text-align: right;
		}
	}
}

.slider {
	display: flex;
	flex-wrap: wrap;	

	&_blackwhite {
		width: 50%;
		text-align: right;
		padding-bottom: 90px;

		&_title {
			font-family: 'Raleway', sans-serif;
			font-size: 150px;
		    font-weight: 900;
			line-height: 1;
			text-transform: uppercase;
			padding-bottom: 40px;
		}

		&_text {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.5;
			padding-left: 40px;
			padding-bottom: 20px;
		}

		&_link {			
			font-size: 24px;
			font-weight: bold;
			color: black;
			line-height: 1.5;			

			&:hover{
				color: red;
			}	
		}
	}

	&_image {
		display: block;
		margin: auto;
	}

	.ellipse {
		width: 100%;		
		display: flex;
		justify-content: center;

		li {
			margin-bottom: 100px;
			width: 20px;
			height: 20px;			

			&:not(:last-child) {		
				padding-right: 10px;
			}	
		}

		a {
			display: block;
			width: 10px;
			height: 10px;
			border: 1px solid transparent;
			border-radius: 50%;
			background-color: black;

			&:hover{
				background-color: red;
			}
		}		
	}

}

.product {
	padding-top: 110px;
	background-color: white;
	padding-bottom: 30px;
	margin-bottom: 50px;
}
	
.product_contaner {
	font-family: 'Raleway', sans-serif;
	width: 50%;
	margin: auto;
	text-align: center;
	padding-bottom: 75px;
			
		h2 {
			font-size: 48px;
			font-weight: 900;
			line-height: 3.13;
		}

		img {
			padding-bottom: 15px;
		}
		
		p {
			font-size: 18px;
			line-height: 1.33;
		}
}

.images {
		width: 90%;	
		margin: 0 auto;			
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;}

a [class^="product"] {
		position: relative;
		padding-bottom: 35px;

		.minimal {
			font-size: 22px;
			font-weight: 900;
			color: white;
			line-height: 30px;
			text-transform: capitalize;
			position: absolute;
			top: 265px;
			left: 35px;
			width: 100%;

		}	
		

	a:not([class $="onright"]) {
		// display: block;
		margin-right: 35px;	
	}


}

		

// .speaker {
// 	display: block;
// 	width: 690px;
// 	height: 385px;
// 	background-image: url("../img/speaker.png");
// 	// background-color: red;
// 	position: relative;
// }

// .speaker:hover {
// 	position: absolute;
// 	top:0;
// 	left:0;
// 	width: 100%;
// 	background-image: url("../img/red.png");
// 	background-repeat: no-repeat;

// }

// 	img {
// 		position: relative;
// 		z-index: 1;


// 	}

// img:hover{
// 	position: absolute;
// 	z-index: 2;
// 	background-color: red;
// }
		

	// a:not([class $="onright"]) {
	// 	// display: block;
	// 	margin-right: 35px;	
	// }

// .speaker {
// 	display: block;
// 	width: 690px;
// 	height: 385px;
// 	background-image: url("../img/speaker.png");
// }


	
