* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(240,240,240);
}

main {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding-top: 60px;
}

a {
	display: block;
	text-decoration: none;
	color: black;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 105px;

	a:hover{
		color: red;
	}

	.logo {
		font-size: 48px;
		line-height: 0.5;
		font-weight: 900;
		color: black;
		display: block;
	}

	.menu {
		display: flex;
		justify-content: flex-end;

		&__item {

			&:first-child {
				margin-right: 45px;
			}

			&:nth-child(2) {
				margin-right: 40px;
			}
		}

		&__link {
			display: block;
			font-size: 18px;
			color: black;
			line-height: 1.5;
		}

		[class$="fa-bars"] {
			font-size: 18px;
			line-height: 1.4;
		}
	}
}

.slider {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 100px;

	.blackwhite {
		width: 50%;
		text-align: right;
		margin-bottom: 90px;

		&__title {
			font-family: 'Raleway', sans-serif;
			font-size: 150px;
		    font-weight: 900;
			text-transform: uppercase;
			word-wrap: break-word;
		}

		&__text {
			display: inline-block;
			font-size: 24px;
			font-weight: 300;
			line-height: 1.5;
			max-width: 95%;
			margin-bottom: 20px;
		}

		&__link {
			display: inline-block;
			font-size: 24px;
			font-weight: bold;
			color: black;
			line-height: 1.5;

			&:hover{
				color: red;
				transition: all .2s ease;
			}
		}
	}

	&__image {
		width: 50%;
		text-align: center;

		&__link {
			display: block;
		}
	}

	.ellipse {
		width: 100%;
		display: flex;
		justify-content: center;

		&__dot {

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&__link {
			display: block;
			width: 13px;
			height: 13px;
			border: 1px solid transparent;
			border-radius: 50%;
			background-color: black;

			&:hover {
				background-color: red;
			}
		}
	}
}

.product {
	background-color: white;
	padding:  100px 70px 75px;
	margin: auto ;
	width: 100%;

	.container {
		font-family: 'Raleway', sans-serif;
		margin: auto;
		text-align: center;
		margin-bottom: 75px;
		max-width: 60%;

		.title {
			font-size: 48px;
			font-weight: 900;
			line-height: 1.13;
		}

		.underline {
			display: block;
			margin: auto;
			background-image: url("../img/underline.png");
			background-repeat: no-repeat;
			background-position: center;
			padding-bottom: 50px;
		}

		.text {
			font-size: 18px;
			line-height: 1.33;
		}
	}

	.product__list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.product__item {

			&:first-child,
			&:nth-child(2) {
				margin-bottom: 50px;
			}

			.product__link {
				display: block;
				position: relative;
				border-radius: 1%;

				&::before {
					content: " ";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: red;
					border-radius: 1%;
					opacity: 0;	
					transition: opacity .2s ease;
				}

				& > [class*="text"] {
					position: absolute;
					font-size: 30px;
					font-weight: 900;
					line-height: 1.3;
					text-transform: capitalize;
					color: white;
					bottom: 60px;
					left: 25px;
					max-width: 230px;
					opacity: 0;
					transition: opacity .2s ease;

					& > * {
						display: inline-block;
						padding-bottom: 15px;
						border-bottom: 3px solid white;
					}
				}

				&:hover {

					&::before,
					& > [class*="text"] {
					opacity: 1;
					}
				}
			}
		}
	}
}

	.news {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		padding: 100px 0;

		&__info {
			width: 580px;
			margin-bottom: 35px;
		}

		&__title {
			font-size: 48px;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		&__form {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 55%;
			background-color: #fff;
			border-radius: 50px 50px;
		}

		&__form-input {
			display: flex;
			width: 70%;
			align-items: center;
			align-content: center;
			background: url('../img/email.png') no-repeat 7% 50% #fff;
			padding-left: 10%;
			color: #979797;
			border: none;
			border-radius: 50px 0 0 50px;
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			font-style: italic;
			padding: 20px 0 20px 75px;
		}

		&__form-button {
			display: flex;
			border-radius: 0 50px 50px 0;
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			text-transform: uppercase;
			background-color: transparent;
			color: #fff;
			background-color: #e10011;
			justify-content: center;
			padding: 3% 0;

			&:hover {
				background-color: lighten(#e10011, 10%);
			}
		}

		input[type="submit"] {
			display: flex;
			outline: none;
			border: none;
			width: 30%;
			cursor: pointer;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 30px;

		&__social {
			display: flex;
			margin-bottom: 60px;
		}

		&__list {
			display: flex;
		}

		&__item {
			display: flex;
			align-items: center;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__social-img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70px;
			height: 70px;
			border-radius: 70px;
			background-color: #fff;
			transition: background-color .3s ease-out;

			&:hover {
				background-color: lighten(#e10011, 10%);
			}
		}



		&__copy {
			font-family: 'Raleway', sans-serif;
			color: #aeaeae;
		}

		&__copy span {
			color: #303030;
		}
	}


