*
{
    margin: 0;
    padding: 0;
}

main
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.white
{
    position: relative;

    width: 800px;
    height: 800px;

    border: 10px solid brown; 
    background: white;
}

[class^='b']
{
    position: absolute;

    display: block;

    width: 100px;
    height: 100px; 

    background-color: black;
}

ul
{
    margin: auto;
}
ul .b1,
ul .b9,
ul .b17,
ul .b25
{
    left: 100px;
}
ul .b6,
ul .b14,
ul .b22,
ul .b30
{
    left: 200px;
}
ul .b2,
ul .b10,
ul .b18,
ul .b26
{
    left: 300px;
}
ul .b7,
ul .b15,
ul .b23,
ul .b31
{
    left: 400px;
}
ul .b3,
ul .b11,
ul .b19,
ul .b27
{
    left: 500px;
}
ul .b8,
ul .b16,
ul .b24,
ul .b32
{
    left: 600px;
}
ul .b4,
ul .b12,
ul .b20,
ul .b28
{
    left: 700px;
}
ul .b5,
ul .b6,
ul .b7,
ul .b8
{
    top: 100px;
}
ul .b9,
ul .b10,
ul .b11,
ul .b12
{
    top: 200px;
}
ul .b13,
ul .b14,
ul .b15,
ul .b16
{
    top: 300px;
}
ul .b17,
ul .b18,
ul .b19,
ul .b20
{
    top: 400px;
}
ul .b21,
ul .b22,
ul .b23,
ul .b24
{
    top: 500px;
}
ul .b25,
ul .b26,
ul .b27,
ul .b28
{
    top: 600px;
}
ul .b29,
ul .b30,
ul .b31,
ul .b32
{
    top: 700px;
}
