*
{
    margin: 0;
    padding: 0;
}

main
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.white
{
    position: relative;

    width: 800px;
    height: 800px;

    border: 10px solid brown; 
    background: white;
}

[class^='b']
{
    position: absolute;

    width: 100px;
    height: 100px; 

    background-color: black;
}

.white
{
    margin: auto;
}
.white .b1,
.white .b9,
.white .b17,
.white .b25
{
    left: 100px;
}
.white .b6,
.white .b14,
.white .b22,
.white .b30
{
    left: 200px;
}
.white .b2,
.white .b10,
.white .b18,
.white .b26
{
    left: 300px;
}
.white .b7,
.white .b15,
.white .b23,
.white .b31
{
    left: 400px;
}
.white .b3,
.white .b11,
.white .b19,
.white .b27
{
    left: 500px;
}
.white .b8,
.white .b16,
.white .b24,
.white .b32
{
    left: 600px;
}
.white .b4,
.white .b12,
.white .b20,
.white .b28
{
    left: 700px;
}
.white .b5,
.white .b6,
.white .b7,
.white .b8
{
    top: 100px;
}
.white .b9,
.white .b10,
.white .b11,
.white .b12
{
    top: 200px;
}
.white .b13,
.white .b14,
.white .b15,
.white .b16
{
    top: 300px;
}
.white .b17,
.white .b18,
.white .b19,
.white .b20
{
    top: 400px;
}
.white .b21,
.white .b22,
.white .b23,
.white .b24
{
    top: 500px;
}
.white .b25,
.white .b26,
.white .b27,
.white .b28
{
    top: 600px;
}
.white .b29,
.white .b30,
.white .b31,
.white .b32
{
    top: 700px;
}
