*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;

    background-color: #f0f0f0;
}

main
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
}

a
{
    display: block;

    text-decoration: none;

    color: black;
}

.navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 105px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navigation a:hover
{
    color: red;
}
.navigation .logo
{
    font-size: 48px;
    font-weight: 900;
    line-height: .5;

    display: block; 

    color: black;
}
.navigation .menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.navigation .menu__item:first-child
{
    margin-right: 45px;
}
.navigation .menu__item:nth-child(2)
{
    margin-right: 40px;
}
.navigation .menu__link
{
    font-size: 18px;
    line-height: 1.5; 

    display: block;

    color: black;
}
.navigation .menu [class$='fa-bars']
{
    font-size: 18px;
    line-height: 1.4;
}

.slider
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.slider .blackwhite
{
    width: 50%;
    margin-bottom: 90px; 

    text-align: right;
}
.slider .blackwhite__title
{
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    font-weight: 900;

    text-transform: uppercase;
    word-wrap: break-word;
}
.slider .blackwhite__text
{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;

    padding-bottom: 20px; 
    padding-left: 40px;
}
.slider .blackwhite__link
{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5; 

    display: block;

    color: black;
}
.slider .blackwhite__link:hover
{
    -webkit-transition: all .2s ease;
            transition: all .2s ease; 

    color: red;
}
.slider__image
{
    width: 50%;

    text-align: center;
}
.slider__image__link
{
    display: block;
}
.slider .ellipse
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin-bottom: 100px; 

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider .ellipse__dot:not(:last-child)
{
    margin-right: 10px;
}
.slider .ellipse__link
{
    display: block;

    width: 13px;
    height: 13px;

    border: 1px solid transparent;
    border-radius: 50%;
    background-color: black;
}
.slider .ellipse__link:hover
{
    background-color: red;
}

.product
{
    width: 100%; 
    margin: auto;
    padding-top: 100px;
    padding-bottom: 75px;

    background-color: white;
}
.product .container
{
    font-family: 'Raleway', sans-serif;

    max-width: 50%; 
    margin: auto;
    margin-bottom: 75px;

    text-align: center;
}
.product .container .title
{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.13;
}
.product .container .underline
{
    display: block;

    margin: auto;
    padding-bottom: 50px; 

    background-image: url('../img/underline.png');
    background-repeat: no-repeat;
    background-position: center;
}
.product .container .text
{
    font-size: 18px;
    line-height: 1.33;
}
.product .product__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: auto;
    padding-right: 75px; 
    padding-left: 75px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.product .product__list .product__item:first-child,
.product .product__list .product__item:nth-child(2)
{
    margin-bottom: 50px;
}
.product .product__list .product__item .product__link
{
    position: relative;

    display: block;

    border-radius: 1%;
}
.product .product__list .product__item .product__link::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: ' ';
    -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease; 

    opacity: 0;
    border-radius: 1%;
    background: red;
}
.product .product__list .product__item .product__link > [class*='text']
{
    font-size: 30px;
    font-weight: 900;
    line-height: 1.3;

    position: absolute;
    bottom: 60px;
    left: 25px;

    max-width: 230px;
    margin-bottom: 15px;

    -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease; 
    text-transform: capitalize;

    opacity: 0;
    color: white;
}
.product .product__list .product__item .product__link > [class*='text'] > *
{
    display: inline-block;

    padding-bottom: 15px;

    border-bottom: 3px solid white;
}
.product .product__list .product__item .product__link:hover::before,
.product .product__list .product__item .product__link:hover > [class*='text']
{
    opacity: 1;
}
