// colors
$text-color: #3c3c3c;
$white: #fff;
$black: #000;
$corp-blue: #a8b3c6;

//sizes
$main-title: 54px;
$title-size: 34px;
$subtitle-size: 20px;
$small-text: 14px;
$section-padding: 80px 0;
$letter-spacing: 7px;

//path
$img-path: "../img/";