* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: palegreen;
}

.checkers {
	max-width: 800px;
	margin: auto;
	border: 10px solid darkcyan;	
}

.checkers_row:before,
.checkers_row:after {
	content: " ";
	display: table;
}

.checkers_row:after {
	clear: both;	
}

.checkers_row {
	clear: both;
	*zoom:1;
	width: 100%;
}

.black:not(.black_left) { 
		float: left;		
		width: 100px;
		height: 100px;
		background-color: black;
	}

li.black_left {
		float: left;
		margin: 0 0;
		width: 100px;
		height: 100px;
		background-color: black;
	}
	
.checkers_row .white {
	float: left;
	width: 100px;
	height: 100px;
	background-color: white;
}