* {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

main {
	background: rgb(51,153,204);
    border: 15px solid rgb(43,129,172);
    width: 100%;
    margin: 0 auto;
}

h1 {
	color: white;				
	font-size: 25px;
	font-weight: 600;
	color: rgb(255,255,255);
	margin-top: 2%;
	margin-left: 23%;
	margin-bottom: 2%
}	

ul{
	font-size: 0;
	width:55%;
    margin-left: 23%;
 	border:2px solid white;
 	transition: all . 3s ease-in;
}


.lisbon, .sanfrancisco {	
	width: 50%;
	display: inline-block;
	border: inherit;

}

.paris, .belgrade, .moscow,
.telaviv, .cair, .newyork,
.newdelhi, .tokyo {
	width: 25%;
	display: inline-block;
	border: inherit;
	margin: auto;
}

.sydney {
	width: 100%;
}

[class*="link"] {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 20px;
}


span{
	display: inline-block;
	font-size: 18px;
	color: rgba(255,255,255,0.5);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 35px;
}

a:hover {
	cursor: pointer;
}

.lisbon{
	background-color: rgb(51,153,204);
}

.paris{
	background-color: rgb(51,204,204);
}

.belgrade{
	background-color: rgb(153,102,153);
}

.moscow{
	background-color: rgb(194,71,71);
}

.telaviv{
	background-color: rgb(226,103,74);
}

.cair{
	background-color: rgb(255,204,102);
}

.newyork{
	background-color: rgb(153,204,153);
}
.newdelhi{
	background-color: rgb(102,153,153);
}
.francisco{
	background-color: rgb(204,102,153);
}

.tokyo{
	background-color: rgb(51,153,102);
}

.sydney{
	background-color: rgb(102,102,153);
}

main:hover li:not(:hover){
    opacity: 0.5;
}

p {
	font-size: 18px;
	color: rgb(255,255,255);
	margin-top: 1%;
	margin-left: 23%;
	margin-bottom: 5%;
}

