@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.eot"), url("../fonts/aleo/aleo-regular-webfont.woff"), url("../fonts/aleo/aleo-regular-webfont.woff2"), url("../fonts/aleo/aleo-regular-webfont.ttf"), url("../fonts/aleo/aleo-regular-webfont.svg");
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	font-family: "Josefin Sans", sans-serif;
	border: 10px solid #fff;
}

a {
	text-decoration: none;
}

section {
	min-height: 100vh;
	width: 100%;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.large {
	min-height: 100vh;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	max-width: 1000px;
}

.column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	letter-spacing: .2rem;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
}
.logo:hover {
	color: #333;
}

.first-screen {
	background-image: url("../img/header-bg.png");
	background-color: #232323;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1783af;
}

.first-screen__logo {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .5rem;
	margin-bottom: 15px;
}

.first-screen__text {
	font-size: 22px;
	letter-spacing: .5rem;
	margin-bottom: 50px;
}

.search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 110px;
	border: 2px solid #fff;
	width: 100%;
	max-width: 650px;
}
.search-form__input {
	font-size: 14px;
	letter-spacing: .2rem;
	text-align: center;
	width: 100%;
	max-width: 500px;
	padding: 20px 0;
	border: none;
}
.search-form__buttom {
	font-family: "Aleo", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: left;
	width: 100%;
	max-width: 145px;
	padding-left: 30px;
	background-color: #5474fd;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: 90% 50%;
	border: none;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	cursor: pointer;
}
.search-form__buttom:hover {
	color: #232323;
}
.search-form__buttom:active {
	border: 1px solid #5474fd;
}

.link {
	position: relative;
	font-size: 14px;
	line-height: 3;
	letter-spacing: .2rem;
	color: #fff;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}
.link::after {
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 100%;
	left: 40%;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}
.link:hover {
	color: #496bfe;
}
.link:hover::after {
	border-bottom-color: #496bfe;
	border-right-color: #496bfe;
}

.navigation {
	width: 100%;
	background-color: #5474fd;
	padding: 25px 0;
}

.nav {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: auto;
}
.nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav__item:not(:last-child) {
	margin-right: 25px;
}
.nav__link {
	display: block;
	font-family: "Aleo", serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}
.nav__link:hover {
	color: #333;
}

.choose-us {
	background-image: url("../img/choose-bg.png");
	background-color: #232323;
	background-repeat: no-repeat;
	background-size: cover;
}

.choose {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.choose__description {
	-ms-flex-preferred-size: 47%;
	flex-basis: 47%;
	padding-top: 30px;
}
.choose__heading {
	font-family: "Aleo", sans-serif;
	font-size: 36px;
	margin-bottom: 50px;
}
.choose__text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: .1rem;
	margin-bottom: 25px;
}
.choose__text:nth-child(3) {
	margin-bottom: 40px;
}
.choose .btn {
	display: inline-block;
	border: none;
	width: 100%;
	max-width: 225px;
	padding: 20px 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aleo", sans-serif;
	font-size: 16px;
	letter-spacing: .1rem;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	cursor: pointer;
}
.choose .btn:hover {
	color: #333;
}

.container__img {
	-ms-flex-preferred-size: 47%;
	flex-basis: 47%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.choose__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 70%;
	position: relative;
	padding-top: 44%;
}
.choose__img > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.house {
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin-bottom: 5px;
}

.crag {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.arcs {
	background-color: #333;
	padding: 80px 0 60px;
}

.select {
	width: 100%;
	max-width: 900px;
}
.select__list {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.select__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.select__link {
	font-family: "Aleo", sans-serif;
	font-size: 36px;
	color: #fff;
}
.select__svg {
	position: relative;
	bottom: 15%;
	z-index: 2;
}
.select__svg > * {
	fill: #333;
}
.select__img {
	width: 40%;
	height: 40%;
	position: absolute;
	z-index: 3;
}

.wave::after {
	content: "";
	display: block;
	width: 100%;
	background-image: url("../img/wave.svg");
	background-repeat: no-repeat;
	max-width: 690px;
	height: 100px;
	position: absolute;
	z-index: 1;
	left: 11%;
	bottom: 60%;
	background-size: 100%;
}

.book-house {
	background-image: url("../img/house.png");
	background-color: #232323;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #714554;
}

.book-rocks {
	background-image: url("../img/rocks.png");
	background-color: #232323;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cf6149;
}

.card {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-transform: translateY(5%);
	        transform: translateY(5%);
}

.end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.book-card {
	max-width: 540px;
	background-color: rgba(0, 0, 0, .7);
	padding: 50px 30px;
}
.book-card .spain {
	font-size: 20px;
	margin-bottom: 30px;
}
.book-card__heading {
	font-size: 20px;
	margin-bottom: 30px;
}
.book-card__text {
	font-size: 16px;
	line-height: 1.9;
	margin-bottom: 50px;
}
.book-card .btn {
	display: inline-block;
	border: none;
	width: 100%;
	max-width: 225px;
	padding: 20px 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "Aleo", sans-serif;
	font-size: 16px;
	letter-spacing: .1rem;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
	cursor: pointer;
}
.book-card .btn:hover {
	color: #333;
}

.reviews {
	background-color: #496bfe;
	background-image: url("../img/testimonials-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.reviews-heading {
	font-family: "Aleo", sans-serif;
	font-size: 36px;
	margin-bottom: 90px;
}

.testimonial {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.testimonial__img {
	-ms-flex-preferred-size: 40%;
	flex-basis: 40%;
	width: 100%;
	position: relative;
	padding-top: 28%;
}
.testimonial__img > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.testimonial__description {
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
	background-color: #333;
	padding: 45px;
}
.testimonial__name {
	font-size: 20px;
	margin-bottom: 25px;
}
.testimonial__guote {
	font-size: 14px;
	line-height: 1.7;
}
.testimonial__guote::before {
	content: "";
	display: inline-block;
	background-image: url("../img/double-quotes.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 20px;
	height: 20px;
	-webkit-transform: translateY(-50%) rotate(180deg);
	        transform: translateY(-50%) rotate(180deg);
}

.footer {
	background-color: #232323;
	padding: 110px 0 50px;
}
.footer__logo {
	margin-bottom: 15px;
}
.footer__text {
	text-transform: capitalize;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-width: 170px;
}
.social__link {
	display: block;
	font-size: 16px;
	color: #fff;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}
.social__link:hover {
	color: #5474fd;
}
