.daily a {
	text-decoration: none;
	color: #ea355a;
}

.daily {
	min-width: 50%;
	background: linear-gradient(to bottom left, #dd2476, #ff512f);;
	background-repeat: no-repeat;
	padding-top: 60px;
	padding-bottom: 60px;
}

.account {
	max-width: 460px;
	padding: 30px 30px 60px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;

	&__headline {
		display: flex;
		margin-bottom: 20px;
	
		.key {		
			background-image: url("../img/signicon.png");
			background-repeat: no-repeat;
			min-width: 25px;
			min-height: 30px;
			margin-right: 10px;
			font-size: 24px;
			}	

		.title {
		font-size: 24px;
		font-weight: bold;
		
		}
	}		

	&__text {
		font-size: 13px;
		line-height: 1.5;
		margin-bottom: 40px;
	}

	&__field {		
		background-color: rgb(240,240,240);
		border-radius: 4px;
		padding: 15px;
		border: none;	
		outline: none;		
	}

	&__fields {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		& > * {
			max-width: 193px;
		}
	}	

	[class*="long"] {
		min-width: 100%;
		margin-bottom: 15px;		
	}

	.signup {
		font-size: 18px;
		color: white;
		font-weight: bold;
		text-align: center;
		border: none;
		background-color: #ea355a;					
		min-width: 100%;		
		border-bottom: 3px solid #bd1962;
		border-radius: 4px;
		padding: 15px 0;
		margin-bottom: 25px;

		&:hover {
			cursor:pointer;				
		}

		&:active {
			border: none;
			outline: none;
		}
	}
}
