* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	
	font-family: Arial, sans-serif;
	
	.forms {
	display: flex;
	justify-content:center;
	}
}

@import "daily_form.scss";
@import "payment.scss";

