* {
	font-family: Helvetica;
	box-sizing: border-box;
}


form {
	background: #3b3f45;
	border: 18px solid #f3f3f3;
	width: 55%;
	position: absolute; 
	top: 10%; 
	left:20%;
	
}

h1 {
	color:#eb7e7f;
	font-size: 35px;
	margin-bottom: 5px;
}

legend {
	background-color: #4a4f56;
	text-align: center;
}

ul{
	width: 700px;
    margin-left: 160px;
}

 li {
    list-style-type: none;
    background: #88839e;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid transparent;
   }

label {
	font-size: 22px;
}

.invitation{
	color:#eb7e7f;
}
 
 .filter ul{
 	color: #f3f3f3;
 	list-style: none;
 	line-height: 20px;
 }        

.filter-input:hover ,
.filter-input:focus {
	background-color: #625e77;
	border-top: 3px solid white;
 	border-right: 3px solid transparent;
 	border-bottom: 3px solid white;
 	border-left: 3px solid transparent;
}

label:checked {
	background-color: #7a7593;
}

input[type=checkbox] {
	display: none;}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    background-color: white;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 15px;      
    line-height: 22px;
    margin: 0 10px 0 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    
}

input[type=checkbox]:checked + label:before {
    color: black;
}

input[type="button"] {
	border:none;
	background: #4a4f56;
	height: 50px;
    width: 660px;
    margin-top: 12px;
    margin-bottom: 80px;
    margin-left: 200px ;
    font-size: 25px;
    color: #eb7e7f;
}
