* {
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    background: rgb(59,63,69);
    border: 18px solid rgb(255,255,240);
    width: 60%;
    position: relative; 
    top: 20px; 
    left:20%;
    
}

legend {
    background-color: rgb(74,79,86);
    text-align: center;
    height: 108px;
}

h1 {
    color:rgb(235,126,124);
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 5px;
}

legend span{
    font-size: 23px;
}

ul{
    width: 700px;
    margin-top: 40px;
    margin-left: 13%;
}

 li {
    list-style-type: none;
    background: rgb(136,131,158);
    height: 60px;
    line-height: 60px;
    border: 3px solid transparent;
   }

li:nth-child(2n){
    background: #7a7593;
}

label {
    font-size: 22px;
    text-align: center;
}

label span {
    font-size: 15px;
}

.invitation{
    color:#eb7e7f;
}
 
 .filter ul{
    color: #f3f3f3;
    list-style: none;
    line-height: 20px;
 }        
.filter-input:hover, .filter-input:focus {
    background-color: #625e77;
    border-top: 3px solid white;
    border-right: none;
    border-bottom: 3px solid white;
    border-left: none;
}

input[type=checkbox] {
    display: none;}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    background-color: white;
    display: inline-block;
    border: 1px solid #fff;
    font-size: inherit; 
    font-weight: bold;     
    line-height: 22px;
    margin: 0 10px 0 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    
}

input[type=checkbox]:checked + label:before {
    color: black;
}

input[type=checkbox]:checked ~ label {  /*перечеркнутый текст при выборе пункта меню*/
    text-decoration: line-through;
    color: rgba(222,222,222,0.5)
} 

label:hover {
    cursor: pointer;
}

input[type="button"] {
    border:none;
    background: rgb(74,79,86);
    height: 50px;
    width: 700px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 13% ;
    font-size: 25px;
    color: rgb(235,126,124);
}

