* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background-color:  black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
}

form {
	background-color: white;
	color: black;
	padding: 15px;
	border-radius: 10px;
	min-width: 40%;

	fieldset {
		padding: 30px;

		& > * {
		display: block;
		}

		legend{
			border: none;
			
		}
	}

	label {
		margin-bottom: .5rem;
	}

	[id] {
		margin-bottom: .1rem;
		border-radius: 10px;
	}

	[type="submit"] {		
		background-color: #648880;
		color: white;
		text-transform: uppercase;
		border-color: #648880;
		min-width: 50%;
		border-radius: 5px;
		padding: 15px 0;
	}

	input, select {
		padding: 5px;
	}

	input:not([type="submit"]), textarea{
		width: 100%;
	}

	input[type="radio"],
	input [type="checkbox"]  {
		width: initial;
		display: inline;
	}
	
	input[type="checkbox"] {
		opacity: 0;

		&:checked + .psevdo::before {
			opacity: 1;
		}
	}

	.psevdo {
		$size:40;
		width: #{$size}px;
		height: #{$size}px;
		display: inline-block;
		background-color: red;
		border-radius: 5px;
		border: 5px solid green;

		&::before {
			content: "1";
			font-weight: bold;
			font-size: 1.5rem;
			color: blue;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;			
		}
	}
}