//FEATURED-COURSES
.ftrd-courses {
	padding: 40px 0;

	@media screen and (min-width: 992px) {
		padding: 50px 0;
	}

	&__title {
		color: $col-blue;
	}

	&__text {
		font-size: $small-size;
		text-align: center;
		margin-bottom: 35px;

		@media screen and (min-width: 992px) {
			text-align: left;
			margin-bottom: 45px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: flex;
	}

	[class^="block-image"], [class^="block-descr"] {
		width: 155px;
		height: 180px;

		@media screen and (min-width: 576px) {
			width: 240px;
			height: 260px;
		}

		@media screen and (min-width: 1200px) {
			width: 280px;
			height: 310px;
		}
	}

	[class^="block-image"] {
		object-fit: cover;
		object-position: left;
	}

	[class^="block-descr"] {
		display: flex;
		flex-direction: column;
		background-color: $col-gray;
		padding: 15px;

		@media screen and (min-width: 992px) {
			padding: 30px;
		}

		@media screen and (min-width: 1200px) {
			padding: 40px;
		}
	}

	[class$="top"] {
		border-radius: 15px 15px 0 0;

		@media screen and (min-width: 992px) {
			border-radius: 25px 25px 0 0;
		}
	}

	[class$="bottom"] {
		border-radius: 0 0 15px 15px;

		@media screen and (min-width: 992px) {
			border-radius: 0 0 25px 25px;

		}
	}

	.class-number {
		font-size: $small-size;
		display: block;
		position: relative;
		padding-left: 15px;
		margin-bottom: 5px;

		@media screen and (min-width: 768px) {
			font-size: $base-size;
			padding-left: 20px;
			margin-bottom: 15px;
		}

		&:hover {
			color: $col-violet;
		}
	}

	.class-number::before {
		content: " ";
		@include square(11px);
		position: absolute;
		top: 18%; left: 0;
		background: url("../img/folder.svg") no-repeat;
		background-size: contain;

		@media screen and (min-width: 768px) {
			@include square(15px);
		}
	}

	.class-name {
		font-family: $sec-font;
		font-size: 18px;
		text-align: center;

		@media screen and (min-width: 768px) {
			font-size: 24px;
			margin-bottom: 20px;
			text-align: left;
		}
	}

	.class-descr {
		font-size: 14px;
		text-align: center;
		height: 80px;
		white-space: wrap;
		overflow: hidden;

		text-overflow: ellipsis;
		margin-bottom: 15px;

		@media screen and (min-width: 768px) {
			text-align: left;
			line-height: 1.5;
			height: 120px;
			margin-bottom: 30px;
		}
	}

	.apply {
		color: $col-blue;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;

		&::after {
			content: "\276F";
			font-size: 15px;
			opacity: 0;
			padding-left: 5px;
			cursor: pointer;
		}

		&:hover,
		&:hover::after {
			color: $col-violet;
			opacity: 1;
		}
	}

	&__button {
		max-width: 210px;
		align-self: center;
		margin: 0 auto;
	}
}
