//TEACHERS
.teachers {
	padding: 30px 0 40px;

	@media screen and (min-width: 992px) {
		padding: 60px 0 80px;
	}

	&__title {
		color: $col-blue;
		text-transform: capitalize;
		margin-bottom: 25px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		text-align: center;

		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}

	&__list {

		@media screen and (min-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;
		margin: auto;
		@include square(165px);

		@media screen and (min-width: 992px) {
			@include square(220px);
		}

		@media screen and (min-width: 1200px) {
			@include square(260px);
		}

		&::after {
			content: " ";
			position: absolute;
			top: 0; right: 0;
			bottom: 0; left: 0;
			background-color: $col-blue;
			opacity: 0;
			@include transition(opacity);
			pointer-events: none;
		}

		&:hover::after {
			opacity: .6;
		}

		img {
			@include transition;
		}

		img:hover {
			transform: scale(1.1);
		}

		.about {
			font-family: $heading-font;
			font-size: 30px;
			font-weight: 500;
			color: $col-white;
			position: absolute;
			left: 10%; bottom: 20%;
			z-index: 2;
			width: 0;
			@include transition(1s);
			pointer-events: none;
			overflow: hidden;
			white-space: nowrap;
		}

		&:hover .about {
			width: 100%;
		}
	}

	&__item:not(:nth-last-child(-n+4)) {
		margin-bottom: 30px;
	}

	&__item:nth-child(8n+1), &__item:nth-child(8n+3) {

		&, img, &::after {
			border-radius: 30px 30px 0 30px;
		}

		.teacher-name {
			border-bottom-left-radius: 30px;
		}
	}

	&__item:nth-child(8n+2), &__item:nth-child(8n+4) {
		&, img, &::after {
			border-radius: 30px 30px 30px 0;
		}
		.teacher-name {
			border-bottom-right-radius: 30px;
		}
	}

	&__item:nth-child(8n+5), &__item:nth-child(8n+7) {
		&, img, &::after {
			border-radius: 30px 0 30px 30px;
		}

		.teacher-name {
			border-radius: 0 0 30px 30px;
		}
	}

	&__item:nth-child(8n+6), &__item:nth-child(8n+8) {
		&, img, &::after {
			border-radius: 0 30px 30px 30px;
		}

		.teacher-name {
			border-radius: 0 0 30px 30px;
		}
	}

	&__item:nth-child(n) {
		&, img, &::after {
			@media screen and (max-width: 991px) {
				border-radius: 20px;
			}
		}
		.teacher-name {
			@media screen and (max-width: 991px) {
				border-radius: 0 0 20px 20px;
			}
		}
	}

	&__link {
		display: block;
	}

	&__image {
		object-fit: cover;
	}

	.teacher-name {
		position: absolute;
		right: 0; bottom: 0; left: 0;
		font-size: 18px;
		line-height: 1.2;
		font-family: $heading-font;
		font-weight: 700;
		color: $col-white;
		text-align: center;
		background-color: $col-blue;
		padding: 0 0 5px;
		pointer-events: none;

		@media screen and (min-width: 992px) {
			font-size: 20px;
			padding: 5px 0;
		}

		@media screen and (min-width: 1200px) {
			font-size: 24px;
			padding: 10px 0;
		}

		& > span {
			display: block;
			font-family: $main-font;
			font-size: 10px;
			font-weight: 400;

			@media screen and (min-width: 992px) {
				font-size: 12px;
			}

			@media screen and (min-width: 1200px) {
				display: inline;
			}
		}
	}

	.swiper-pagination {
		bottom: 0;
	}

	.swiper-pagination-bullet {
		@include square(10px);
		background-color: transparent;
		border: 1px solid $col-blue;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $col-blue;
	}
}
