@mixin square($size) {
	width: $size;
	height: $size;	
}

@mixin padding-hack($padding, $object-fit: cover) {
	position: relative;
	padding-top: $padding;
	@content;

	& > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: $object-fit;
	} 
}

@mixin corners($pos) {
	&::before,
	&::after {
		content: "";
		display: block;
		border: 1px solid $gold;
		@include square(100px);
		position: absolute;
		border-bottom: none;
		border-right: none;

		@media all and (max-width: 991px) {
			display: none;
		}
	}

	&::before {
		left: #{$pos};
	}

	&::after {
		right: #{$pos};
	}
}