$gold: #ffcc00;
$white: #fff;
$black: #000;
$grey: #666666;
$dark-grey: #333333;
$light-grey: #cccccc;

$base-size: 14px;
$middle-size: 18px;
$big-size: 24px;
$large-size: 36px;
$resp-huge-size: 50px;
$huge-size: 60px;

$base-font: 'Raleway', sans-serif;
$button-font: 'Open Sans', sans-serif;
$title-font: 'Roboto', sans-serif;

$img-path: '../img';