* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html,body {
	height: 100%;
	/* width: 100%;	 */
}

body {
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: rgb(194,194,194);
	background-color: rgb(241,241,241);	
}

main {
	width: 100%;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    max-width: 1170px;
  }

.top_header {	
	width: auto;
}

.hidden{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.search_form {
	height: 100%;
	font-size: 0;
	margin-bottom: 50px;
}

input {
	border: none;	
}

.search_form_input {	
	font-family: Arial, sans-serif;
	font-size: 90px;
	font-weight: 600;
	color:  #ec5a62;
	background-color: rgb(241,241,241);
	width: calc(100% - 103px);
}

.search_form_input:focus {
	outline: none;
	color: rgb(236,90,98);
}

input[type='submit'] {
	font-size: 90px;
	background-color: rgb(241,241,241);
	background-size: 60% /* 60% */;
	background-image: url('../images/magnifier.svg');
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	height: 103px; 
	width: 103px;
	cursor: pointer;
}

input[type='submit']:focus {
	outline: none;
}

section {
	width: 100%;
}

.people, .popular, .recent {
	width: 30.3%;
	display: inline-block;	
}

section > *:not(:last-child) {
	margin-right: 4.11%;
}

.heading {
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 20px;
}

[class*="item"] {	
	height: 55px;
	width: 100%;
}

[class$="list"] > *:not(:last-child) {
	margin-bottom: 5px;
}

a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: rgb(194,194,194);
	background-color: rgba(118,117,128,0.05);
	border-radius: 7px;
	position: relative;
	height: 100%;
	width: 100%; 
	padding-left: 15px;
	padding-top: 7px;	
}

a:hover {
	color: rgb(236,90,98);
	background-color: rgba(118,117,128,0.1); 
}

span {
	display: inline-block;
	position: absolute;
	top: 20px;
}

img {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

.round {
	border-radius: 50%;
}



