* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html,body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: rgb(194,194,194);
	background-color: rgb(241,241,241);	
}

main {
	max-width: 80%;
    margin: auto;
    
  }

.top_header {	
	width: 100%;
	padding-top: 30px;
}

.hidden{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.search_form {
	height: 100%;
	margin-bottom: 50px;
}

.search_form_input,
.search_form_button {
	height: 100%;
	border: none;
	
}

.search_form_input {	
	font-family: Arial, sans-serif;
	font-size: 90px;
	font-weight: 600;
	color: rgb(194,194,194);
	background-color: rgb(241,241,241);
	width: 85%;
}

.search_form_input:focus {
	outline: none;
	color: rgb(236,90,98);
}

.search_form_button {
	width: 100px;
	height: 100px;
	background-color: rgb(241,241,241);
	background-image: url('../images/magnifier.svg');
	cursor: pointer;
}

.search_form_button:focus {
	outline: none;
}

section {
	width: 100%;
}
.people, .popular, .recent {
	width: 30%;
	display: inline-block;	
}

section > *:not(:first-child) {
	margin-left: 44px;
}

.heading {
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 20px;
}

[class*="item"] {	
	height: 55px;
}

[class$="list"] > *:not(:last-child) {
	margin-bottom: 5px;
}

a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: rgb(194,194,194);
	background-color: green /* rgba(118,117,128,0.05) */;
	border-radius: 7px;
	position: relative;
	height: 100%;
	width: 100%; 
	padding-left: 15px;
	padding-top: 7px;	
}

a:hover{
	color: rgb(236,90,98);
	background-color: blue /* rgba(118,117,128,0.1) */; 
}

span {
	display: inline-block;
	position: absolute;
	top: 20px;
}

img {
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

.round {
	border-radius: 50%;
}



