<section class="vika-latest-news">
	<div class="container">
		<div class="row mb-90">
			<div class="col-12 text-center">
				<h2 class="vika-heading ">latest news</h2>
			</div>
		</div>

		<div class="row justify-content-center">
		  <div class="col-11 col-xl-12 vika-slider">

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
					<a href="#" class="vika-card-link">
						<div class="vika-img-wrapper">
							<img src="img/news-item1.jpg" class="card-img-top" alt="house">
						</div>
						<div class="card-body p-4 p-md-3 p-xl-4">
							<h5 class="card-title text-uppercase">see the unmatched beauty of the great.</h5>
							<p class="card-text  vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit...ligendi, vero.</p>
							<div class="vika-card-user">
								<div class="vika-img-user mr-3">
									 <img src="img/news-photo1.png" alt="img">
							    </div>
						  		<div class="vika-user-name">
							  		<p class="card-text text-uppercase mb-1">isaac dunn</p>
							  		<span class="vika-user-data">09 Feb 2017</span>
						  		</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
				    <a href="#" class="vika-card-link">
				    	<div class="vika-img-wrapper">
				    		<img src="img/news-item2.jpg" class="card-img-top" alt="house">
				    	</div>
				    	<div class="card-body p-4 p-md-3 p-xl-4">
				    		<h5 class="card-title text-uppercase">effective advertising pointers.</h5>
				    		<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
				    		<div class="vika-card-user">
							    <div class="vika-img-user mr-3">
							      	<img src="img/news-photo2.png" alt="img">
							    </div>
					    		<div class="vika-user-name">
						    	  	<p class="card-text text-uppercase mb-1">dominic freeman</p>
						    	  	<span class="vika-user-data">24 Apr 2017</span>
					    	  	</div>
				    		</div>
				    	</div>
				    </a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mx-2">
			   		<a href="#" class="vika-card-link">
			   			<div class="vika-img-wrapper">
			   		 		<img src="img/news-item3.jpg" class="card-img-top" alt="house">
			   			</div>
			   	 		<div class="card-body p-4 p-md-3 p-xl-4">
						   	<h5 class="card-title text-uppercase">hypnotize yourself into the ghost.</h5>
						   	<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
			   	    		<div class="vika-card-user">
			   				    <div class="vika-img-user mr-3">
			   				      	<img src="img/news-photo3.png" alt="img">
			   				    </div>
			   	   	  			<div class="vika-user-name">
			   	   	     			<p class="card-text text-uppercase mb-1">alice ward</p>
			   	   					<span class="vika-user-data">30 dec 2017</span>
			   	   				</div>
			   	   			</div>
			   	  		</div>
			   	 	</a>
			    </div>
			</div>
				<!-- slider-item -->

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
					<a href="#" class="vika-card-link">
						<div class="vika-img-wrapper">
							<img src="img/news-item1.jpg" class="card-img-top" alt="house">
						</div>
						<div class="card-body p-4 p-md-3 p-xl-4">
							<h5 class="card-title text-uppercase">see the unmatched beauty of the great.</h5>
							<p class="card-text  vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit...ligendi, vero.</p>
							<div class="vika-card-user">
								<div class="vika-img-user mr-3">
									 <img src="img/news-photo1.png" alt="img">
							    </div>
						  		<div class="vika-user-name">
							  		<p class="card-text text-uppercase mb-1">isaac dunn</p>
							  		<span class="vika-user-data">09 Feb 2017</span>
						  		</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
				    <a href="#" class="vika-card-link">
				    	<div class="vika-img-wrapper">
				    		<img src="img/news-item2.jpg" class="card-img-top" alt="house">
				    	</div>
				    	<div class="card-body p-4 p-md-3 p-xl-4">
				    		<h5 class="card-title text-uppercase">effective advertising pointers.</h5>
				    		<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
				    		<div class="vika-card-user">
							    <div class="vika-img-user mr-3">
							      	<img src="img/news-photo2.png" alt="img">
							    </div>
					    		<div class="vika-user-name">
						    	  	<p class="card-text text-uppercase mb-1">dominic freeman</p>
						    	  	<span class="vika-user-data">24 Apr 2017</span>
					    	  	</div>
				    		</div>
				    	</div>
				    </a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mx-2">
			   		<a href="#" class="vika-card-link">
			   			<div class="vika-img-wrapper">
			   		 		<img src="img/news-item3.jpg" class="card-img-top" alt="house">
			   			</div>
			   	 		<div class="card-body p-4 p-md-3 p-xl-4">
						   	<h5 class="card-title text-uppercase">hypnotize yourself into the ghost.</h5>
						   	<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
			   	    		<div class="vika-card-user">
			   				    <div class="vika-img-user mr-3">
			   				      	<img src="img/news-photo3.png" alt="img">
			   				    </div>
			   	   	  			<div class="vika-user-name">
			   	   	     			<p class="card-text text-uppercase mb-1">alice ward</p>
			   	   					<span class="vika-user-data">30 dec 2017</span>
			   	   				</div>
			   	   			</div>
			   	  		</div>
			   	 	</a>
			    </div>
			</div>
				<!-- slider-item -->
			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
					<a href="#" class="vika-card-link">
						<div class="vika-img-wrapper">
							<img src="img/news-item1.jpg" class="card-img-top" alt="house">
						</div>
						<div class="card-body p-4 p-md-3 p-xl-4">
							<h5 class="card-title text-uppercase">see the unmatched beauty of the great.</h5>
							<p class="card-text  vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit...ligendi, vero.</p>
							<div class="vika-card-user">
								<div class="vika-img-user mr-3">
									 <img src="img/news-photo1.png" alt="img">
							    </div>
						  		<div class="vika-user-name">
							  		<p class="card-text text-uppercase mb-1">isaac dunn</p>
							  		<span class="vika-user-data">09 Feb 2017</span>
						  		</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
				    <a href="#" class="vika-card-link">
				    	<div class="vika-img-wrapper">
				    		<img src="img/news-item2.jpg" class="card-img-top" alt="house">
				    	</div>
				    	<div class="card-body p-4 p-md-3 p-xl-4">
				    		<h5 class="card-title text-uppercase">effective advertising pointers.</h5>
				    		<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
				    		<div class="vika-card-user">
							    <div class="vika-img-user mr-3">
							      	<img src="img/news-photo2.png" alt="img">
							    </div>
					    		<div class="vika-user-name">
						    	  	<p class="card-text text-uppercase mb-1">dominic freeman</p>
						    	  	<span class="vika-user-data">24 Apr 2017</span>
					    	  	</div>
				    		</div>
				    	</div>
				    </a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mx-2">
			   		<a href="#" class="vika-card-link">
			   			<div class="vika-img-wrapper">
			   		 		<img src="img/news-item3.jpg" class="card-img-top" alt="house">
			   			</div>
			   	 		<div class="card-body p-4 p-md-3 p-xl-4">
				   			<h5 class="card-title text-uppercase">hypnotize yourself into the ghost.</h5>
				   			<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
			   	    		<div class="vika-card-user">
			   				    <div class="vika-img-user mr-3">
			   				      	<img src="img/news-photo3.png" alt="img">
			   				    </div>
			   	   	  			<div class="vika-user-name">
			   	   	     			<p class="card-text text-uppercase mb-1">alice ward</p>
			   	   					<span class="vika-user-data">30 dec 2017</span>
			   	   				</div>
			   	   			</div>
			   	  		</div>
			   	 	</a>
			    </div>
			</div>
				<!-- slider-item -->

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
					<a href="#" class="vika-card-link">
						<div class="vika-img-wrapper">
							<img src="img/news-item1.jpg" class="card-img-top" alt="house">
						</div>
						<div class="card-body p-4 p-md-3 p-xl-4">
							<h5 class="card-title text-uppercase">see the unmatched beauty of the great.</h5>
							<p class="card-text  vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit...ligendi, vero.</p>
							<div class="vika-card-user">
								<div class="vika-img-user mr-3">
									 <img src="img/news-photo1.png" alt="img">
							    </div>
						  		<div class="vika-user-name">
							  		<p class="card-text text-uppercase mb-1">isaac dunn</p>
							  		<span class="vika-user-data">09 Feb 2017</span>
						  		</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
				    <a href="#" class="vika-card-link">
				    	<div class="vika-img-wrapper">
				    		<img src="img/news-item2.jpg" class="card-img-top" alt="house">
				    	</div>
				    	<div class="card-body p-4 p-md-3 p-xl-4">
				    		<h5 class="card-title text-uppercase">effective advertising pointers.</h5>
				    		<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
				    		<div class="vika-card-user">
							    <div class="vika-img-user mr-3">
							      	<img src="img/news-photo2.png" alt="img">
							    </div>
					    		<div class="vika-user-name">
						    	  	<p class="card-text text-uppercase mb-1">dominic freeman</p>
						    	  	<span class="vika-user-data">24 Apr 2017</span>
					    	  	</div>
				    		</div>
				    	</div>
				    </a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mx-2">
			   		<a href="#" class="vika-card-link">
			   			<div class="vika-img-wrapper">
			   		 		<img src="img/news-item3.jpg" class="card-img-top" alt="house">
			   			</div>
			   	 		<div class="card-body p-4 p-md-3 p-xl-4">
						   	<h5 class="card-title text-uppercase">hypnotize yourself into the ghost.</h5>
						   	<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
			   	    		<div class="vika-card-user">
			   				    <div class="vika-img-user mr-3">
			   				      	<img src="img/news-photo3.png" alt="img">
			   				    </div>
			   	   	  			<div class="vika-user-name">
			   	   	     			<p class="card-text text-uppercase mb-1">alice ward</p>
			   	   					<span class="vika-user-data">30 dec 2017</span>
			   	   				</div>
			   	   			</div>
			   	  		</div>
			   	 	</a>
			    </div>
			</div>
				<!-- slider-item -->

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
					<a href="#" class="vika-card-link">
						<div class="vika-img-wrapper">
							<img src="img/news-item1.jpg" class="card-img-top" alt="house">
						</div>
						<div class="card-body p-4 p-md-3 p-xl-4">
							<h5 class="card-title text-uppercase">see the unmatched beauty of the great.</h5>
							<p class="card-text  vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit...ligendi, vero.</p>
							<div class="vika-card-user">
								<div class="vika-img-user mr-3">
									 <img src="img/news-photo1.png" alt="img">
							    </div>
						  		<div class="vika-user-name">
							  		<p class="card-text text-uppercase mb-1">isaac dunn</p>
							  		<span class="vika-user-data">09 Feb 2017</span>
						  		</div>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mb-4 mb-md-0 mx-2">
				    <a href="#" class="vika-card-link">
				    	<div class="vika-img-wrapper">
				    		<img src="img/news-item2.jpg" class="card-img-top" alt="house">
				    	</div>
				    	<div class="card-body p-4 p-md-3 p-xl-4">
				    		<h5 class="card-title text-uppercase">effective advertising pointers.</h5>
				    		<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
				    		<div class="vika-card-user">
							    <div class="vika-img-user mr-3">
							      	<img src="img/news-photo2.png" alt="img">
							    </div>
					    		<div class="vika-user-name">
						    	  	<p class="card-text text-uppercase mb-1">dominic freeman</p>
						    	  	<span class="vika-user-data">24 Apr 2017</span>
					    	  	</div>
				    		</div>
				    	</div>
				    </a>
				</div>
			</div>

			<div class="vika-slider__item">
				<div class="card mx-2">
			   		<a href="#" class="vika-card-link">
			   			<div class="vika-img-wrapper">
			   		 		<img src="img/news-item3.jpg" class="card-img-top" alt="house">
			   			</div>
			   	 		<div class="card-body p-4 p-md-3 p-xl-4">
						   	<h5 class="card-title text-uppercase">hypnotize yourself into the ghost.</h5>
						   	<p class="card-text vika-short-descr mb-4 mb-xl-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, blanditi...</p>
			   	    		<div class="vika-card-user">
			   				    <div class="vika-img-user mr-3">
			   				      	<img src="img/news-photo3.png" alt="img">
			   				    </div>
			   	   	  			<div class="vika-user-name">
			   	   	     			<p class="card-text text-uppercase mb-1">alice ward</p>
			   	   					<span class="vika-user-data">30 dec 2017</span>
			   	   				</div>
			   	   			</div>
			   	  		</div>
			   	 	</a>
			    </div>
			</div>

		  </div>
		</div>
	</div>

</section>