.book-house {
	background-image: url("../img/house.png");
	@include bg-section;
	background-color: #714554;
}

.book-rocks {
	background-image: url("../img/rocks.png");
	@include bg-section;
	background-color: #cf6149;
}

.card {
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	padding-top: 4%;
}

.end {
	align-items: flex-end;
}

.book-card {
	max-width: 540px;
	background-color: rgba(0, 0, 0, .7);
	padding: 50px 30px;

	.spain {
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__heading {
		font-size: 20px;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.9;		
		margin-bottom: 50px;
	}

	.btn {
		@include btn;
	}
}
