.first-screen {	
	background-image: url("../img/header-bg.png");
	@include bg-section;
	background-color: #1783af;
}

.first-screen__logo {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .5rem;
	margin-bottom: 15px;
}

.first-screen__text {
	font-size: 22px;
	letter-spacing: .5rem;
	margin-bottom: 50px;
}

.search-form {
	display: flex;
	margin-bottom: 110px;
	border: 2px solid $white-color;
	width: 100%;
	max-width: 650px;

	&__input {
	font-size: 14px;
	letter-spacing: .2rem;
	text-align: center;
	width: 100%;
	max-width: 500px;
	padding: 20px 0;
	border: none;
	}

	&__buttom {
		font-family: $secondary-font;
		font-size: 14px;
		color: $white-color;
		line-height: 2;
		text-transform: uppercase;
		letter-spacing: .1rem;
		text-align: left;
		width: 100%;
		max-width: 145px;
		padding-left: 30px;
		background-color: $light-blue-color;
		background-image: url("../img/search-icon.svg");
		background-repeat: no-repeat;
		background-size: 15%;
		background-position: 90% 50%;
		border: none;
		transition: all .2s ease;
		cursor: pointer;

		&:hover {
			color: $dark-grey-color;
		}
		 
		&:active {
			border: 1px solid $light-blue-color;
		}
	}
}

.link {
	position: relative;
	font-size: 14px;
	line-height: 3;
	letter-spacing: .2rem;
	color: $white-color;
	transition: all .2s ease;

	&::after {
		content: " ";
		position: absolute;		
		width: 10px;
		height: 10px;
		top: 100%;
		left: 40%;
		border-bottom: 1px solid $white-color;
		border-right: 1px solid $white-color;
		transform: rotate(45deg);
		transition: all .2s ease;
	}

	&:hover{
		color: $dark-blue-color;
	}

	&:hover::after {
		border-bottom-color: $dark-blue-color;
		border-right-color: $dark-blue-color;
	}	
}
