.reviews {
	background-color: $dark-blue-color;
	background-image: url("../img/testimonials-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.reviews-heading {
	font-family: $secondary-font;
	font-size: 36px;
	margin-bottom: 90px;
}

.testimonial {
	display: flex;

	&__img {
		flex-basis:40%;
		width: 100%;
		position: relative;
		padding-top: 28%;

		& > * {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
		flex-basis: 60%;
		background-color: $light-grey-color;
		padding: 45px;
	}	
	
	&__name {
		font-size: 20px;
		margin-bottom: 25px;
	}

	&__guote {
		font-size: 14px;
		line-height: 1.7;

		&::before {
			content: "";
			display: inline-block;
			background-image: url("../img/double-quotes.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 20px;
			height: 20px;
			transform: translateY(-50%) rotate(180deg);			
		}
	}
}