<section class="facilities">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-11 col-lg-8 col-xl-5 facilities__left">
				<div class="title-wrapper">
					<h2 class="facilities__title">school facilities</h2>
					<p class="facilities__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus cum reiciendis totam autem ipsa eaque, voluptas incidunt quos odit eligendi.</p>
				</div>
			</div>
			<div class="offset-xl-1 col-12 col-lg-8 col-xl-6 pr-xl-0">
				<ul class="facilities__list">
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/apple.html
							<span>Healthy Meals</span>
						</a>
					</li>
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/media.html
							<span>Multimedia Class</span>
						</a>
					</li>
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/art.html
							<span>Art Class</span>
						</a>
					</li>
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/events.html
							<span>Events</span>
						</a>
					</li>
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/teacher.html
							<span>Teachers</span>
						</a>
					</li>
					<li class="facilities__item">
						<a href="#" class="facilities__link">
							//= ../img/svg/achivement.html
							<span>Achievements</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>