<section class="ftrd-courses">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2 class="ftrd-courses__title section-title mb-3">our featured courses</h2>
				<p class="ftrd-courses__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim perspiciatis, voluptas itaque architecto deleniti vel nulla.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 p-0 mb-4">
				<ul class="ftrd-courses__list">
					<li class="ftrd-courses__item order-lg-1">
						<img src="img/fc-foto1.jpg" alt="pupils" class="block-image-top">
						<div class="block-descr-top">
							<a href="#" class="class-number">Class One</a>
							<h3 class="class-name">Math Class</h3>
							<p class="class-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptas quaerat inventore ex tempora.</p>
							<a href="#" class="apply">apply now</a>
						</div>
					</li>
					<li class="ftrd-courses__item item-bottom order-lg-3 mb-3 mb-lg-0">
						<div class="block-descr-bottom">
							<a href="#" class="class-number">Class One</a>
							<h3 class="class-name">English Class</h3>
							<p class="class-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis praesentium consequatur voluptatum maxime sit harum!</p>
							<a href="#" class="apply">apply now</a>
						</div>
						<img src="img/fc-foto3.jpg" alt="pupils" class="block-image-bottom">
					</li>
					<li class="ftrd-courses__item order-lg-2">
						<img src="img/fs-foto1.jpg" alt="pupils" class="block-image-top">
						<div class="block-descr-top">
							<a href="#" class="class-number">Primary</a>
							<h3 class="class-name">Technology</h3>
							<p class="class-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos expedita, esse amet facere voluptatum!</p>
							<a href="#" class="apply">apply now</a>
						</div>
					</li>
					<li class="ftrd-courses__item item-bottom order-lg-4">
						<div class="block-descr-bottom">
							<a href="#" class="class-number">Class Tow</a>
							<h3 class="class-name">Painting Class</h3>
							<p class="class-descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi odio, rerum quod nesciunt ratione facilis.</p>
							<a href="#" class="apply">apply now</a>
						</div>
						<img src="img/fc-foto4.jpg" alt="pupils" class="block-image-bottom">
					</li>
				</ul>
			</div>
			<div class="col-12">
				<a href="#" class="ftrd-courses__button">view all courses</a>
			</div>
		</div>
	</div>
</section>