<section class="first-screen">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-6 order-1 order-xl-2 first-screen__title-box">
				<h1 class="main-title align-middle">Play. Learn. Grow.<span>Your Neighborhood Preschool</span></h1>
				<a href="#" class="first-screen__button">admission now</a>
			</div>
			<div class="col-12 col-xl-6 order-2 order-xl-1">
				<div class="swiper-container fst-screen-slider">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">
				        	<img src="img/fs-foto1.jpg" alt="child">
				        </div>
				        <div class="swiper-slide">
							<img src="img/fc-foto1.jpg" alt="child">
				        </div>
				        <div class="swiper-slide">
				        	<img src="img/fc-foto3.jpg" alt="child">
				        </div>
				    </div>
				    <div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>