<footer>
	<div class="footer">
		<div class="container">
			<div class="row justify-content-between mb-80">
				<div class="col-12 col-md-4 mb-3 mb-md-0">
					<h3 class="footer__title">sign up <br>
					for our newsletter</h3>
				</div>
				<div class="col-12 col-md-8 col-lg-6">
					<div class="footer__input-wrapper">
						<input type="email" class="footer__input-email mb-3 mb-md-0" placeholder="Enter your email">
						<input type="button" class="footer__button" value="submit now">
					</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-7 col-lg-4 mb-4 mb-lg-0">
					<div class="footer__contacts">
						<address>address: <br>
							<span> 73724 Route , 4A <br>
							South Richmond Hill, NY 11419</span>
						</address>
						<p>tel:
							<a href="tel:+46034771522">(603)477-15-22</a>
						</p>
						<p>email:
							<a href="mailto:info@businessface.com">info@yourdomain.com</a>
						</p>
						<p>web:
							<a href="#">yourdomain.com</a>
						</p>
					</div>
				</div>
				<div class="col-5 col-lg-3">
					<div class="footer__links">
						<p>quicklinks:</p>
						<a href="#" class="footer__link">calender</a>
						<a href="#" class="footer__link">maps & directions</a>
						<a href="#" class="footer__link">our news</a>
						<a href="#" class="footer__link">university courses</a>
						<a href="#" class="footer__link">contact us</a>
					</div>
				</div>
				<div class="col-12 col-lg-5 d-flex justify-content-center">
					<ul class="footer-soclinks">
						<li class="footer-soclinks__item">
							<a href="#" class="footer-soclinks__link" target="_blank">
								<span>facebook</span>
								//= ../img/svg/facebook.html
							</a>
						</li>
						<li class="footer-soclinks__item">
							<a href="#" class="footer-soclinks__link" target="_blank">
								<span>twitter</span>
								//= ../img/svg/twitter.html
							</a>
						</li>
						<li class="footer-soclinks__item">
							<a href="#" class="footer-soclinks__link" target="_blank">
								<span>google</span>
								//= ../img/svg/google-plus.html
							</a>
						</li>
						<li class="footer-soclinks__item">
							<a href="#" class="footer-soclinks__link" target="_blank">
								<span>youtube</span>
								//= ../img/svg/youtube.html
							</a>
						</li>
						<li class="footer-soclinks__item">
							<a href="#" class="footer-soclinks__link" target="_blank">
								<span>instagram</span>
								//= ../img/svg/instagram.html
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-7 pt-4 mb-4">
					<p class="footer__copyright">Copyright © 2017 Kidz master. All Rights Reserved</p>
				</div>
				<div class="col-5">
					<a href="#" class="footer__logo"></a>
				</div>
			</div>
		</div>
	</div>
</footer>