<header class="header">
	<div class="container position-relative">
		<a href="#" class="header-logo">
			<img src="img/logo-white.png" alt="word Kidz">
		</a>
		<div class="row ">
			<div class="col-11 col-md-8 offset-1 offset-md-4">
				<div class="feedback">
					<div class="header-contacts">
						<a href="#" class="header-contacts__phone">1-800-633-3469</a>
						<a href="mailto:info@businessface.com" class="header-contacts__email">kidzmaster@gmail.com</a>
					</div>
					<div class="registration">
						<a href="#" class="registration__search"></a>
						<a href="#" class="registration__register mb-2 mb-sm-0">Register</a>
						<a href="#" class="registration__login">Login</a>
					</div>
				</div>
			</div>
				<div class="col-12 col-xl-8 offset-xl-4">
					<nav class="navigation">
						<ul class="navigation__list">
							<li class="navigation__item">
								<a class="navigation__link" href="#">Home</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">Academic</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">Admission</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">Teachers</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">About</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">Blog</a>
							</li>
							<li class="navigation__item">
								<a class="navigation__link" href="#">Contacts</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>