<section class="notice">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="notice__title section-title">From Notice Board</h2>

				<div class="notice-tabs">
					<ul class="notice-tabs__list">
						<li class="notice-tabs__item active">latest news</li>
						<li class="notice-tabs__item">bulletin</li>
						<li class="notice-tabs__item">media</li>
					</ul>

					<div class="notice-tabs-content">
						<div class="latest-news tab-panel active">
							<ul class="latest-news__list">
								<li class="latest-news__item">
									<a href="#" class="latest-news__link">
										<img src="img/nb-foto1.jpg" alt="children" class="latest-news__img">
										<div class="descr-wrapper">
											<span class="latest-news__date">Fabruary 25,2017</span>
											<p class="latest-news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
									</a>
								</li>
								<li class="latest-news__item">
									<a href="#" class="latest-news__link">
										<img src="img/nb-foto2.jpg" alt="children" class="latest-news__img">
										<div class="descr-wrapper">
											<span class="latest-news__date">Fabruary 25,2017</span>
											<p class="latest-news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
									</a>
								</li>
								<li class="latest-news__item">
									<a href="#" class="latest-news__link">
										<img src="img/nb-foto3.jpg" alt="children" class="latest-news__img">
										<div class="descr-wrapper">
											<span class="latest-news__date">Fabruary 25,2017</span>
											<p class="latest-news__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="bulletin tab-panel">
								<img src="img/nb-foto4.jpg" alt="children" class="bulletin__img">
								<p class="bulletin__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi totam dicta voluptate cupiditate autem cum possimus omnis vel expedita asperiores, doloremque voluptatum ab sunt reiciendis harum dolor et aliquid quaerat culpa, error ullam libero tempore, nemo adipisci quo. Nulla, laudantium porro dicta quia quod? Ad atque libero et, voluptatum omnis.</p>
						</div>
						<div class="media tab-panel">
							<p class="media__text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio necessitatibus molestiae cum non modi aliquid aperiam, dignissimos consectetur culpa suscipit.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<article class="notice-key">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 notice-key__part">
				<div class="notice-key__address">
					<h3 class="notice-key__title">kidz master address</h3>
					<address class="notice-key__descr m-0">73724 Route, 4A <br>
					 South Richmond Hill, NY 11419</address>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 notice-key__part">
				<div class="notice-key__board">
					<h3 class="notice-key__title">
						<a href="#">notice board</a>
					</h3>
					<p class="notice-key__descr">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 notice-key__part">
				<div class="notice-key__hour">
					<h3 class="notice-key__title">office hour</h3>
					<p class="notice-key__descr">
						Monday-Friday <br>
						9:00am-5:00pm
					</p>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 notice-key__part">
				<div class="notice-key__admiss">
					<h3 class="notice-key__title">
						<a href="#">admission now</a>
					</h3>
					<p class="notice-key__descr">Lorem ipsum dolor sit amet, consectetur adipis.</p>
				</div>
			</div>
		</div>
	</div>
</article>