<section class="reviews">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-11">
			<div class="swiper-container reviews-slider">
			    <div class="swiper-wrapper">
			        <!-- Slides -->
			        <div class="swiper-slide">
			        	<div class="image-wrapper">
			        		<img src="img/rviews1.jpg" alt="foto" class="slider-foto">
			        	</div>
			        	<p class="client-name">Mickel Jason</p>
			        	<p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem accusantium, saepe quasi eaque labore deleniti, alias explicabo eligendi aliquid, sit, laboriosam aliquam officia iusto animi fuga.</p>
			        </div>
			        <div class="swiper-slide">
						<div class="image-wrapper">
							<img src="img/rviews2.jpg" alt="foto" class="slider-foto">
						</div>
							<p class="client-name">Nick Hurclie</p>
			        	<p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem accusantium, saepe quasi eaque labore deleniti, alias explicabo eligendi aliquid, sit, laboriosam aliquam officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, praesentium.</p>
			        </div>
			        <div class="swiper-slide">
			        	<div class="image-wrapper">
			        		<img src="img/rviews3.jpg" alt="foto" class="slider-foto">
			        	</div>
			        		<p class="client-name">Barbara Gutt</p>
			        	<p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem accusantium, saepe quasi eaque.</p>
			        </div>
			        <div class="swiper-slide">
			        	<div class="image-wrapper">
			        		<img src="img/rviews4.jpg" alt="foto" class="slider-foto">
			        	</div>
			        		<p class="client-name">Linda Morelly</p>
			        	<p class="comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, pariatur, officiis. Cupiditate autem accusantium, saepe quasi eaque labore deleniti, alias explicabo eligendi aliquid.</p>
			        </div>
			    </div>
			    <div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>
</section>