<section class="teachers">
	<div class="container">
		<div class="row">
			<div class="col-11 col-lg-8 col-xl-5 mb-5">
				<h2 class="teachers__title section-title">Meet Our Teachers</h2>
				<p class="teachers__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aut velit architecto commodi sapiente ratione.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="swiper-container teachers-slider">
					<div class="swiper-wrapper teachers__list">
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher1.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">Martina Doe
									<span>(Principle)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="" class="teachers__link">
								<img src="img/teacher2.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">John Doe
									<span>(Vice-Principle)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher3.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">Luis Alexa
									<span>(Dance Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher4.jpg" alt="" class="teachers__image">
								<p class="teacher-name">Devid Vettori
									<span>(Art Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher5.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">David Lui
									<span>(Math Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher6.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">Bonnie Odd
									<span>(Painting Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher7.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">John Hassi
									<span>(Language Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
						<div class="swiper-slide teachers__item">
							<a href="#" class="teachers__link">
								<img src="img/teacher8.jpg" alt="foto" class="teachers__image">
								<p class="teacher-name">Amanda Alen
									<span>(Music Teacher)</span>
								</p>
							</a>
							<p class="about">... more <br> about the teacher</p>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>