<section class="welcome">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h3 class="welcome__title section-title"><span>Welcome to</span>kidz master</h3>

				<p class="welcome__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente animi voluptatum, dolorum vero, cum numquam incidunt ducimus itaque praesentium modi, odio eum. Molestias maxime laboriosam alias vero ipsum, provident nobis.</p>

				<p class="welcome__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente animi voluptatum, dolorum vero, cum numquam incidunt ducimus itaque.</p>

				<a href="#" class="welcome__button">read more</a>
			</div>
		</div>
	</div>

</section>